<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/admin/Admin_Member_management.css" />
    <link rel="stylesheet" href="/css/admin/Admin_product_list.css" />
  </head>
  <body>
    <div class="header">
      <a href="#">
        <img class="logo" src="/img/logo.png" />
      </a>
      <button class="logout-btn" type="button">로그아웃</button>
    </div>
    <div class="body-container">
      <div class="main-container">
        <div class="left-bar">
          <nav class="nav-var">
            <ul class="admin-nav-list">
              <h3>회원</h3>
              <li><a class="page-move">회원 목록 조회 및 관리</a></li>
              <li><a class="page-move">회원 등급 관리</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>상품</h3>
              <li><a class="page-move this">상품 목록</a></li>
              <li><a class="page-move">상품 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>헤어스타일</h3>
              <li><a class="page-move">헤어스타일 목록</a></li>
              <li><a class="page-move">헤어스타일 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>배송</h3>
              <li><a class="page-move">배송 목록</a></li>
            </ul>
          </nav>
        </div>
        <div class="main-box">
          <h1>상품 목록</h1>
          <div class="product-nav">
            <div class="product-category-box">
              <span>카테고리</span>
              <select name="category" class="category">
                <option value="select-all">전체</option>
                <option value="treatment-pack">트리트먼트/팩</option>
                <option value="essence">에센스</option>
                <option value="hair-dye-perm">염색/펌</option>
                <option value="hair-device">헤어기기</option>
                <option value="styling">스타일링</option>
                <option value="shampoo-rinse">샴푸/린스</option>
              </select>
              <button type="button">조회</button>
            </div>
            <div class="select-by-title">
              <input
                type="text"
                class="select-title"
                placeholder="제목으로 검색"
              />
              <button type="button" class="search">검색</button>
            </div>
          </div>

          <div class="product-list-container">
            <article class="holder">
              <div class="cl">
                <ul class="list-ul">
                  <!-- 첫번째 -->
                  <li class="list-li">
                    <a href="">
                      <div class="img-list">
                        <img src="https://sitem.ssgcdn.com/69/72/95/item/1000197957269_i2_750.jpg" alt="">
                      </div>
                    </a>

                    <div class="product-information">
                      <p class="product-title">제품이름이여유</p>
                      <p class="product-category">트리트먼트/팩</p>
                      <p class="product-price">
                        ₩ <span class="price">22000</span>
                      </p>
                    </div>
                  </li>
                </ul>
                <ul class="list-ul">
                  <!-- 첫번째 -->
                  <li class="list-li">
                    <a href="">
                      <div class="img-list">
                        <img src="https://sitem.ssgcdn.com/69/72/95/item/1000197957269_i2_750.jpg" alt="">
                      </div>
                    </a>

                    <div class="product-information">
                      <p class="product-title">제품이름이여유</p>
                      <p class="product-category">트리트먼트/팩</p>
                      <p class="product-price">
                        ₩ <span class="price">22000</span>
                      </p>
                    </div>
                  </li>
                </ul>
                <ul class="list-ul">
                  <!-- 첫번째 -->
                  <li class="list-li">
                    <a href="">
                      <div class="img-list">
                        <img src="https://sitem.ssgcdn.com/69/72/95/item/1000197957269_i2_750.jpg" alt="">
                      </div>
                    </a>

                    <div class="product-information">
                      <p class="product-title">제품이름이여유</p>
                      <p class="product-category">트리트먼트/팩</p>
                      <p class="product-price">
                        ₩ <span class="price">22000</span>
                      </p>
                    </div>
                  </li>
                </ul>
                <ul class="list-ul">
                  <!-- 첫번째 -->
                  <li class="list-li">
                    <a href="">
                      <div class="img-list">
                        <img src="https://sitem.ssgcdn.com/69/72/95/item/1000197957269_i2_750.jpg" alt="">
                      </div>
                    </a>

                    <div class="product-information">
                      <p class="product-title">제품이름이여유</p>
                      <p class="product-category">트리트먼트/팩</p>
                      <p class="product-price">
                        ₩ <span class="price">22000</span>
                      </p>
                    </div>
                  </li>
                </ul>
                <ul class="list-ul">
                  <!-- 첫번째 -->
                  <li class="list-li">
                    <a href="">
                      <div class="img-list">
                        <img src="https://sitem.ssgcdn.com/69/72/95/item/1000197957269_i2_750.jpg" alt="">
                      </div>
                    </a>

                    <div class="product-information">
                      <p class="product-title">제품이름이여유</p>
                      <p class="product-category">트리트먼트/팩</p>
                      <p class="product-price">
                        ₩ <span class="price">22000</span>
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </article>
          </div>

          <div class="page-container">
            <ul class="page-box">
              <a href="#" class="page-a">
                <li class="page-num prev">&lt</li>
              </a>

              <a href="#" class="page-a">
                <li class="page-num active">1</li>
                <li class="page-num">2</li>
                <li class="page-num">3</li>
                <li class="page-num">4</li>
                <li class="page-num">5</li>
              </a>

              <a href="#" class="page-a">
                <li class="page-num next">&gt</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
