<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin_Member_management</title>
    <link rel="stylesheet"  th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminHeader.css}" />
  </head>
  <body>
    <div class="header">
      <img class="logo" src="/img/logo.png" />
      <button class="logout-btn" type="button">로그아웃</button>
    </div>
    <div class="body-container">
      <div class="main-container">
        <div class="left-bar">
          <nav class="nav-var">
            <ul class="admin-nav-list">
              <h3>회원</h3>
              <li><a class="page-move">회원 목록 조회 및 관리</a></li>
              <li><a class="page-move">회원 등급 관리</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>상품</h3>
              <li><a class="page-move">상품 목록</a></li>
              <li><a class="page-move">상품 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>헤어스타일</h3>
              <li><a class="page-move">헤어스타일 목록</a></li>
              <li><a class="page-move">헤어스타일 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>배송</h3>
              <li><a class="page-move">배송 목록</a></li>
            </ul>
          </nav>
        </div>
        <div class="main-box"></div>
      </div>
    </div>
  </body>
</html>
