<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet"  th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/delivery.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminHeader.css}" />
  </head>
  <body>
    <div class="header">
      <a href="#">
        <img class="logo" src="/img/logo.png" />
      </a>
      <a th:href="@{/admin/logout}" class="logout-btn" type="button">로그아웃</a>
    </div>
    <div class="body-container">
      <div class="main-container">
        <div class="left-bar">
          <nav class="nav-var">
            <a class="goToMain" th:href="@{/}">Go to Hairnada</a>
            <ul class="admin-nav-list">
              <h3>회원</h3>
              <li><a class="page-move" th:href="@{/admin/userList}">회원 목록 조회 및 관리</a></li>
              <li><a class="page-move" th:href="@{/admin/membership}">회원 등급 관리</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>상품</h3>
              <li><a class="page-move" th:href="@{/admin/storeList}">상품 목록</a></li>
              <li><a class="page-move" th:href="@{/admin/storeUpload}">상품 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>헤어스타일</h3>
              <li><a class="page-move" th:href="@{/admin/hairList}">헤어스타일 목록</a></li>
              <li><a class="page-move" th:href="@{/admin/hairUpload}">헤어스타일 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>배송</h3>
              <li><a class="page-move this" th:href="@{/admin/delivery}">배송 목록</a></li>
            </ul>
          </nav>
        </div>
        <div class="main-box">
          <h1>배송 조회/관리</h1>
          <div class="delivery-nav">
            <div class="order-list-box">
              <sapn>미완료</sapn>
              <div class="box"><span class="order-cnt event" th:text="${incompleteTotal}"></span>건</div>
            </div>
            <div class="completed-orders-box">
              <span>완료 목록</span>
              <div class="box">
                <span class="completed-cnt event" th:text="${completeTotal}"></span>건
              </div>
            </div>
          </div>
          <div class="new-quest-container">
            <div class="nav-list">
              <ul class="nav">
                <li class="nav-order-number">주문 번호</li>
                <li class="nav-member-number">회원 이름</li>
                <li class="nav-product-title">상품명</li>
                <li class="nav-member-address">주소</li>
                <li class="nav-member-quest">요청사항</li>
                <li class="nav-delivery-status">배송상태</li>
              </ul>
            </div>
            <div class="quest-list" >
              <!-- 첫 번째 ul -->
              <ul class="order-list"th:each="incompleteList : ${incompleteList}">
                <li class="order-number" th:text="${incompleteList.buyNumber}"></li>
                <li class="member-number" th:text="${incompleteList.userName}"></li>
                <li class="product-title" th:text="${incompleteList.storeTitle}">

                </li>
                <li class="member-address" th:text="${incompleteList.buyAddress}"></li>
                <li class="member-quest" th:text="${incompleteList.buyMsg}"></li>
                <li class="delivery-status">
                  <select name="delivery" class="delivery">
                    <option value="">배송 상태</option>
                    <option value="1" th:selected="${incompleteList.deliveryNumber == 1}">상품 준비중</option>
                    <option value="2" th:selected="${incompleteList.deliveryNumber == 2}">배송중</option>
                    <option value="3" th:selected="${incompleteList.deliveryNumber == 3}">배송 완료</option>
                  </select>
                  <button type="submit" class="registration">등록</button>
                </li>
              </ul>
            </div>
          </div>

          <div class="page-container">
            <ul class="page-box">
              <a th:href="@{/admin/delivery(page=${pageInfo.startPage - 1})}"  class="page-a"  th:if="${pageInfo.prev}">
                <li class="page-num prev">&lt</li>
              </a>

              <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                <a th:href="@{/admin/delivery(page=${i})}" class="page-a">
                  <li class="page-num active" th:text="${i}" th:if="${i == pageInfo.criteria.page}"></li>
                  <li class="page-num" th:text="${i}" th:unless="${i == pageInfo.criteria.page}"></li>
                </a>
              </th:block>

              <a th:href="@{/admin/delivery(page=${pageInfo.endPage + 1})}" class="page-a" th:if="${pageInfo.next}">
                <li class="page-num next">&gt</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="/js/admin/delivery.js"></script>
  </body>
</html>
