<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" th:href="@{/css/admin/adminHeader.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/hairList.css}" />
    <link rel="stylesheet"  th:href="@{/css/reset.css}" />
  </head>
  <body>
    <div class="header">
      <a href="#">
        <img class="logo" src="/img/logo.png" />
      </a>
      <a th:href="@{/admin/logout}" class="logout-btn" type="button">로그아웃</a>
    </div>
    <div class="body-container">
      <div class="main-container">
        <div class="left-bar">
          <nav class="nav-var">
            <a class="goToMain" th:href="@{/}">Go to Hairnada</a>
            <ul class="admin-nav-list">
              <h3>회원</h3>
              <li><a class="page-move" th:href="@{/admin/userList}">회원 목록 조회 및 관리</a></li>
              <li><a class="page-move" th:href="@{/admin/membership}">회원 등급 관리</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>상품</h3>
              <li><a class="page-move" th:href="@{/admin/storeList}">상품 목록</a></li>
              <li><a class="page-move" th:href="@{/admin/storeUpload}">상품 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>헤어스타일</h3>
              <li><a class="page-move this" th:href="@{/admin/hairList}">헤어스타일 목록</a></li>
              <li><a class="page-move" th:href="@{/admin/hairUpload}">헤어스타일 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>배송</h3>
              <li><a class="page-move" th:href="@{/admin/delivery}">배송 목록</a></li>
            </ul>
          </nav>
        </div>
        <div class="main-box">
          <h1>헤어스타일 게시글 목록</h1>
          <div class="select-nav">
            <div class="filter">
              <select name="gender" class="gender">
                <option value="">성별</option>
                <option value="F">여성</option>
                <option value="M">남성</option>
              </select>

              <select name="hair-length" class="hair-length">
                <option value="">기장</option>
                <option value="1">숏</option>
                <option value="2">미디엄</option>
                <option value="3">롱</option>
              </select>
              <select name="face-shape" class="face-shape">
                <option value="">얼굴형</option>
                <option value="1">계란형</option>
                <option value="2">긴 얼굴형</option>
                <option value="3">둥근형</option>
                <option value="4">역삼각형</option>
                <option value="5">육각형</option>
                <option value="6">사각형</option>
              </select>
              <button type="button" class="search category">검색</button>
            </div>
            <div class="select-by-title">
              <input
                type="text"
                class="select-title"
                placeholder="제목으로 검색"
              />
              <button type="button" class="search title">검색</button>
            </div>
          </div>

          <div class="hair-list-container">
            <article class="holder">
              <div class="hl">
                <ul class="list-ul"  th:each="hairList : ${hairList}">
                  <!-- 첫번째 -->
                  <li class="list-li">
                    <a th:href="@{/admin/hairRead(hairNumber=${hairList.hairNumber})}">
                      <div class="img-list">
                        <img th:if="${hairList.hairFileName == null}" src="https://img1.daumcdn.net/thumb/C360x360/?fname=https://mud-kage.kakao.com/dn/tiTz0/btsjboVScnc/36eDc0R0JCIeBLE6uPouDk/img_1080.jpg&scode=purple" alt="">
                        <img class="main-img" th:unless="${hairList.hairFileName == null}" th:src="${'/upload/' + hairList.hairFileUploadPath + '/th_' +hairList.hairFileUuid + '_' + hairList.hairFileName }" alt="">
                      </div>
                    </a>
                    <div class="hair-title-box">
                      <p class="hair-title" th:text="${hairList.hairName}"></p>
                    </div>
                  </li>
                </ul>

              </div>
            </article>
          </div>

          <div class="page-container">
            <ul class="page-box">
              <a th:href="@{/admin/hairList(page=${pageInfo.startPage - 1})}"  class="page-a"  th:if="${pageInfo.prev}">
                <li class="page-num prev">&lt</li>
              </a>

              <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                <a th:href="@{/admin/hairList(page=${i})}" class="page-a">
                  <li class="page-num active" th:text="${i}" th:if="${i == pageInfo.criteria.page}"></li>
                  <li class="page-num" th:text="${i}" th:unless="${i == pageInfo.criteria.page}"></li>
                </a>
              </th:block>

              <a th:href="@{/admin/hairList(page=${pageInfo.endPage + 1})}" class="page-a" th:if="${pageInfo.next}">
                <li class="page-num next">&gt</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="/js/admin/hairList.js"></script>
  </body>
</html>
