<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" th:href="@{/css/admin/hairModify.css}" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminHeader.css}" />
  </head>
  <body>
    <div class="header">
      <a href="#">
        <img class="logo" src="/img/logo.png" />
      </a>
      <button class="logout-btn" type="button">로그아웃</button>
    </div>
    <div class="body-container">
      <div class="main-container">
        <div class="left-bar">
          <nav class="nav-var">
            <ul class="admin-nav-list">
              <h3>회원</h3>
              <li><a class="page-move" th:href="@{/admin/userList}">회원 목록 조회 및 관리</a></li>
              <li><a class="page-move" th:href="@{/admin/membership}">회원 등급 관리</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>상품</h3>
              <li><a class="page-move" th:href="@{/admin/storeList}">상품 목록</a></li>
              <li><a class="page-move" th:href="@{/admin/storeUpload}">상품 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>헤어스타일</h3>
              <li><a class="page-move this" th:href="@{/admin/hairList}">헤어스타일 목록</a></li>
              <li><a class="page-move" th:href="@{/admin/hairUpload}">헤어스타일 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>배송</h3>
              <li><a class="page-move" th:href="@{/admin/delivery}">배송 목록</a></li>
            </ul>
          </nav>
        </div>
        <div class="main-box">
          <form class="new-post-form" th:action="@{/admin/hairUpload}" method="post" enctype="multipart/form-data">
            <div class="board-write-box" th:each="hairInfo : ${hairInfo}">
              <input type="hidden" th:value="${hairInfo.hairNumber}" class="hairNumber">
              <div class="hair-img-box">
                <!-- 대표 이미지 업로드 -->
                <div class="form-group">
                  <ul class="file-wrap">
                    <!-- 썸네일 처리 해야함 -->
                    <li class="img-list">
                      <input
                              type="file"
                              id="post-image"
                              name="hairFile"
                              accept="image/*"
                              multiple
                      />
                    </li>
                    <li><img class="img-list" /></li>
                    <li><img class="img-list" /></li>
                    <li><img class="img-list" /></li>
                    <li><img class="img-list" /></li>
                  </ul>
                </div>
              </div>
              <div class="board-information">
                <div class="select-box">
                  <div class="gender-box">
                    <span>성별</span>
                    <input type="radio" class="female" name="hairGender" value="F" th:checked="${hairInfo.hairGender eq 'F'}"/>여성
                    <input type="radio" class="male" name="hairGender" value="M" th:checked="${hairInfo.hairGender eq 'M'}"/>남성
                  </div>
                  <div class="hair-length-box">
                    <span>기장</span>
                    <input type="radio" class="short" name="lengthNumber" value="1" th:checked="${hairInfo.lengthNumber == 1}"/>숏
                    <input type="radio" class="middle" name="lengthNumber" value="2" th:checked="${hairInfo.lengthNumber == 2}"/>미디엄
                    <input type="radio" class="long" name="lengthNumber" value="3" th:checked="${hairInfo.lengthNumber == 3}"/>롱
                  </div>
                  <div class="face-shape-box">
                    <span>얼굴형</span>
                    <select name="shapeNumber" class="face-shape">
                      <option value="">얼굴형 선택</option>
                      <option value="1" th:selected="${hairInfo.shapeNumber == 1}">계란형</option>
                      <option value="2" th:selected="${hairInfo.shapeNumber == 2}">긴 얼굴형</option>
                      <option value="3" th:selected="${hairInfo.shapeNumber == 3}">둥근형</option>
                      <option value="4" th:selected="${hairInfo.shapeNumber == 4}">역삼각형</option>
                      <option value="5" th:selected="${hairInfo.shapeNumber == 5}">육각형</option>
                      <option value="6" th:selected="${hairInfo.shapeNumber == 6}">사각형</option>
                    </select>
                  </div>
                </div>
                <input
                        type="text"
                        class="board-title"
                        placeholder="제목 입력..."
                        name="hairName"
                        th:value="${hairInfo.hairName}"
                />
                <textarea
                        class="board-content"
                        placeholder="콘텐츠 입력..."
                        name="hairContent"
                        th:text="${hairInfo.hairContent}"
                ></textarea>
                <div class="btn-box">
                  <button type="button" class="back-to-list">
                    목록으로 돌아가기
                  </button>
                  <button type="button" class="modify-btn">수정 완료</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="/js/admin/hairModify.js"></script>
  </body>
</html>
