<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" th:href="@{/css/admin/levelUp.css}" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminHeader.css}" />
  </head>
  <body>
    <div class="header">
      <a href="#">
        <img class="logo" src="/img/logo.png" />
      </a>
      <a th:href="@{/admin/logout}" class="logout-btn" type="button">로그아웃</a>
    </div>
    <div class="body-container">
      <div class="main-container">
        <div class="left-bar">
          <nav class="nav-var">
            <a class="goToMain" th:href="@{/}">Go to Hairnada</a>
            <ul class="admin-nav-list">
              <h3>회원</h3>
              <li><a class="page-move" th:href="@{/admin/userList}">회원 목록 조회 및 관리</a></li>
              <li><a class="page-move this" th:href="@{/admin/membership}">회원 등급 관리</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>상품</h3>
              <li><a class="page-move" th:href="@{/admin/storeList}">상품 목록</a></li>
              <li><a class="page-move" th:href="@{/admin/storeUpload}">상품 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>헤어스타일</h3>
              <li><a class="page-move" th:href="@{/admin/hairList}">헤어스타일 목록</a></li>
              <li><a class="page-move" th:href="@{/admin/hairUpload}">헤어스타일 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>배송</h3>
              <li><a class="page-move" th:href="@{/admin/delivery}">배송 목록</a></li>
            </ul>
          </nav>
        </div>
        <div class="main-box" th:each="view : ${LevelBoard}">
          <input type="hidden" class="userNumber" th:value="${view.userNumber}">
          <h2 class="board-title" th:text="${view.levelTitle}"></h2>
          <div class="name-date-box">
            <span class="member-name" th:text="${view.userName}"></span>
            <span class="member-id" th:text="${view.userId}"></span>
            <span class="text">신청 등급 :  </span>
            <span class="membership-status" th:text="${view.membershipName}"></span>
            <input type="hidden" class="membershipNumber" th:value="${view.membershipNumber}">
            <input type="hidden" class="userMembership" th:value="${view.userMembershipNumber}">
            <span class="board-register-date" th:text="${view.levelRegisterDate}"></span>
          </div>

          <div class="board-main">
            <img class="license-photo" src="../LogoImg/Hairnada.jpg" />
            <span class="board-content"
               th:text="${view.levelContent}">
            </span>
          </div>
          <div class="btn-box">
            <button type="button" class="accept">수락</button>
            <button type="button" class="refuse">거절</button>
            <button type="button" class="back-to-list">
              목록으로 돌아가기
            </button>
          </div>
        </div>
      </div>
    </div>
    <script
            src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"
    ></script>
    <script src="/js/admin/levelUp.js"></script>
  </body>
</html>
