<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>

    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/storeRead.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminHeader.css}" />
  </head>
  <body>
    <div class="header">
      <a href="#">
        <img class="logo" src="/img/logo.png" />
      </a>
      <a th:href="@{/admin/logout}" class="logout-btn" type="button">로그아웃</a>
    </div>
    <div class="body-container">
      <div class="main-container">
        <div class="left-bar">
          <nav class="nav-var">
            <a class="goToMain" th:href="@{/}">Go to Hairnada</a>
            <ul class="admin-nav-list">
              <h3>회원</h3>
              <li><a class="page-move" th:href="@{/admin/userList}">회원 목록 조회 및 관리</a></li>
              <li><a class="page-move" th:href="@{/admin/membership}">회원 등급 관리</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>상품</h3>
              <li><a class="page-move this" th:href="@{/admin/storeList}">상품 목록</a></li>
              <li><a class="page-move" th:href="@{/admin/storeUpload}">상품 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>헤어스타일</h3>
              <li><a class="page-move" th:href="@{/admin/hairList}">헤어스타일 목록</a></li>
              <li><a class="page-move" th:href="@{/admin/hairUpload}">헤어스타일 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>배송</h3>
              <li><a class="page-move" th:href="@{/admin/delivery}">배송 목록</a></li>
            </ul>
          </nav>
        </div>
        <div class="main-box">
          <div class="board-write-box">
            <div class="product-img-box">
              <!-- 대표 이미지 업로드 -->
              <div class="form-group">
                <ul class="file-wrap">
                  <!-- 썸네일 처리 해야함 -->
                  <li>
                    <img
                      class="img-list"
                      src="https://mud-kage.kakao.com/dn/b51fiA/btsjeYWAYxo/QvKwQnQvFYeJ3TkIHP9TS0/img_750.jpg"
                    />
                  </li>

                </ul>
              </div>
            </div>
            <div class="product-information"  th:each="store : ${storeRead}">
              <input type="hidden" class="storeNumber" th:value="${store.storeNumber}">
              <div class="product-category-box">
                <span class="product-category" th:text="${store.storeCategoryName}">헤어 팩</span>
              </div>
              <div class="product-name-box">
                <span class="product-title" th:text="${store.storeTitle}">완전 짱짱 좋은 헤어팩</span>
                <span class="product-content" th:text="${store.storeContent}">제품 설명 ㅈ~~~~~~~~~</span>
                <hr />
              </div>
              <div class="product-price-box">
                <div class="price-box">
                  가격
                  <span class="product-price" th:text="${store.storePrice}">26000</span> 원
                </div>
                <div class="delivery-fee-box">
                  배송비
                  <span class="delivery-price">3000원(50,000원 이상 구매시 무료배송)</span>
                  <span class="delivery-msg">상세 내용은 제품 상세정보를 확인해주세요.</span>
                </div>
              </div>
              <div class="btn-box">
                <button type="button" class="delete">삭제</button>
                <button type="button" class="modify">수정</button>
              </div>
            </div>
          </div>
          <div class="product-details-box" th:each="mainContent : ${storeMainContent}">
            <div class="details">상세 정보</div>
            <img th:if="${mainContent == null}"
              class="details-img"
              src="https://www.zhangbayo.co.kr/data/zhangbayo/editor/202011/%EB%8C%95%EA%B8%B0%EB%A8%B8%EB%A6%AC_%EC%98%A4%EB%A6%AC%EC%97%94%ED%83%88_%ED%97%A4%EC%96%B4%ED%8C%A9.jpg"
            />
            <span class="store-main-content" th:unless="${mainContent == null}" th:utext="${mainContent}"></span>
          </div>
        </div>
      </div>
    </div>

    <!-- 모달 -->
    <div class="modal">
      <div class="background"></div>
      <img class="view-img" src="" />
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="/js/admin/storeRead.js"></script>
  </body>
</html>
