<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/adminHeader.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/storeList.css}" />
  </head>
  <body>
    <div class="header">
      <a href="#">
        <img class="logo" src="/img/logo.png" />
      </a>
      <a th:href="@{/admin/logout}" class="logout-btn" type="button">로그아웃</a>
    </div>
    <div class="body-container">
      <div class="main-container">
        <div class="left-bar">
          <nav class="nav-var">
            <a class="goToMain" th:href="@{/}">Go to Hairnada</a>
            <ul class="admin-nav-list">
              <h3>회원</h3>
              <li><a class="page-move" th:href="@{/admin/userList}">회원 목록 조회 및 관리</a></li>
              <li><a class="page-move" th:href="@{/admin/membership}">회원 등급 관리</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>상품</h3>
              <li><a class="page-move this" th:href="@{/admin/storeList}">상품 목록</a></li>
              <li><a class="page-move" th:href="@{/admin/storeUpload}">상품 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>헤어스타일</h3>
              <li><a class="page-move" th:href="@{/admin/hairList}">헤어스타일 목록</a></li>
              <li><a class="page-move" th:href="@{/admin/hairUpload}">헤어스타일 등록</a></li>
            </ul>
            <ul class="admin-nav-list">
              <h3>배송</h3>
              <li><a class="page-move" th:href="@{/admin/delivery}">배송 목록</a></li>
            </ul>
          </nav>
        </div>
        <div class="main-box">
          <h1>상품 목록</h1>
          <div class="product-nav">
            <div class="product-category-box">
              <span>카테고리</span>
              <select name="category" class="category">
                <option value="">전체</option>
                <option value="1">트리트먼트/팩</option>
                <option value="2">에센스</option>
                <option value="3">염색/펌</option>
                <option value="4">헤어기기</option>
                <option value="5">스타일링</option>
                <option value="6">샴푸/린스</option>
              </select>
<!--              <button type="button" class="select">조회</button>-->
            </div>
            <div class="select-by-title">
              <input
                type="text"
                class="select-title"
                placeholder="제목으로 검색"
              />
              <button type="button" class="search">검색</button>
            </div>
          </div>

          <div class="product-list-container">
            <article class="holder">
              <div class="cl">
                <ul class="list-ul" th:each="store : ${storeList}">
                  <!-- 첫번째 -->
                  <li class="list-li">
                    <a th:href="@{/admin/storeRead(storeNumber=${store.storeNumber})}">
                      <div class="img-list">
                        <img th:if="${store.storeFileName == null}" src="https://sitem.ssgcdn.com/69/72/95/item/1000197957269_i2_750.jpg" alt="">
                        <img class="main-img" th:unless="${store.storeFileName == null}" th:src="${'/upload/' + store.storeFileUploadPath + '/th_' + store.storeFileUuid + '_' + store.storeFileName }" alt="">
                      </div>
                    </a>

                    <div class="product-information">
                      <p class="product-title" th:text="${store.storeTitle}"></p>
                      <p class="product-category" th:text="${store.storeCategoryName}"></p>
                      <p class="product-price">
                        ₩ <span class="price"  th:text="${store.storePrice}"></span>
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </article>
          </div>

          <div class="page-container">
            <ul class="page-box">
              <a th:href="@{/admin/storeList(page=${pageInfo.startPage - 1})}"  class="page-a"  th:if="${pageInfo.prev}">
                <li class="page-num prev">&lt</li>
              </a>

              <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
                <a th:href="@{/admin/storeList(page=${i})}" class="page-a">
                  <li class="page-num active" th:text="${i}" th:if="${i == pageInfo.criteria.page}"></li>
                  <li class="page-num" th:text="${i}" th:unless="${i == pageInfo.criteria.page}"></li>
                </a>
              </th:block>

              <a th:href="@{/admin/storeList(page=${pageInfo.endPage + 1})}" class="page-a" th:if="${pageInfo.next}">
                <li class="page-num next">&gt</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script
            src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"
    ></script>
    <script src="/js/admin/storeList.js"></script>
  </body>
</html>
