.rec-box {
    width: 550px;
    height: 1000px;
    margin: 0 auto;
    box-shadow: 1px 2px 10px -2px;
}

.hairnada-logo {
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hairnada-logo img {
    filter :brightness(0) invert(1);
}

.result-box {
    width: 100%;
    height: 100%;
    /* height: 690px; */
}

.result-text {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    letter-spacing: -2px;
}

.result-text-shape {
    font-weight: 700;
}

.hair-recommend {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    letter-spacing: -1px;
}

.hair-img-box {
    width: 100%;
    height: 260px;
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.hair-img {
    width: 250px;
    height: 250px;
}

.button-box {
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.next-button {
    width: 525px;
    padding: 8px 0;
    background-color: black;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.next-button2 {
    width: 525px;
    padding: 8px 0;
    background-color: black;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hair-name {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 500;
}

.real-img {
    width: 100%;
}
