<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" th:href="@{/css/hair/hairStyleRead.css}" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
      <link rel="stylesheet" th:href="@{/css/index/header.css}" />
      <link rel="stylesheet" th:href="@{/css/index/footer.css}" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
  <header class="header" th:replace="fragment/header :: header"></header>
    <div class="container">

      <!-- 배너 -->
      <div class="banner">
        <img src="/img/tab-banner-06.png" alt="배너">
      </div>

      <div class="styleInformation">
        <div class="product-img-box">
          <!-- 대표 이미지 업로드 -->
          <div class="form-group">
            <ul class="file-wrap">
              <!-- 썸네일 처리 해야함 -->
              <li class="img-list-thumbnail"><img src="" alt=""></li>
              <li class="img-list-thumbnail"><img src="" alt=""></li>
              <li class="img-list-thumbnail"><img src="" alt=""></li>
              <li class="img-list-thumbnail"><img src="" alt=""></li>
              <li class="img-list-thumbnail"><img src="" alt=""></li>
            </ul>
          </div>
        </div>



        <div class="style-content" th:each="hair : ${hairList}">
            <input type="hidden" th:value="${hair.hairNumber}" class="hairNumber"/>
          <div class="styleBox">
            <div class="style-category">
                <span th:if="${hair.hairGender eq 'M'}">남자</span>
                <span th:unless="${hair.hairGender eq 'M'}">여자</span> >
                <span th:text="${hair.lengthName}" name="lengthName"></span> >
                <span th:text="${hair.shapeName}" name="shapeName"></span>
            </div>
            <div class="style-title" th:text="${hair.hairName}" name="hairName"></div>
            <div class="buttons">
              <button type="button" class="likeBtn" th:value="${hair.hairNumber}"
                      th:classappend="${hair.likeCnt == 1 ? 'active' : ''}"
                      th:style="${hair.likeCnt == 1 ? 'background-image:url(/img/heart2.png)' : ''}">하트</button>
            </div>
          </div>
          <div class="like">
            <div class="like-img"></div>
            <span class="like-cnt" th:with="likeCnt = ${likeCnt}" th:text="${likeCnt}"></span>
          </div>

          <div class="contentBox">
            <div class="content" th:text="${hair.hairContent}" name="hairContent">
            </div>
          </div>

        </div>
      </div>

      <!-- 헤어샵 링크로 바로 가기 -->
      <h1 class="hairShop-title">현재 예약 가능한 헤어샵</h1>
      <div class="hairShop">
        <div class="shop-group">
          <ul class="ListUl">
            <li class="ListLi" th:each="hairShop : ${hairShopList}">
                <input class="hidden-number" type="hidden" th:value="${hairShop.hairShopNumber}">
              <a th:href="@{/hairshop/read(hairShopNumber=${hairShop.hairShopNumber})}">
                  <div class="img-list">
                      <div class="main-img">
                          <img th:if="${hairShop.hairShopFileName == null}" src="https://3.bp.blogspot.com/-ZKBbW7TmQD4/U6P_DTbE2MI/AAAAAAAADjg/wdhBRyLv5e8/s1600/noimg.gif" alt="임시 썸네일">
                          <img th:unless="${hairShop.hairShopFileName == null}" th:src="@{'/upload/' + ${hairShop.hairShopFileUploadPath} + '/th_' + ${hairShop.hairShopFileUuid} + '_' + ${hairShop.hairShopFileName}}" alt="이미지">
                        </div>
                  </div>
              </a>
              <div class="titleAndBtn">
                  <p class="shop-title" th:text="${hairShop.hairShopName}"></p>
<!--                  <div class="button">-->
<!--                      <button type="button" class="like">하트</button>-->
<!--                  </div>-->
              </div>
              <div class="address-box">
                  <span class="address"  th:text="${hairShop.hairShopAddress}"></span>
              </div>
          </li>
          </ul>
        </div>
      </div>
    </div>
  <footer class="footer" th:replace="fragment/footer :: footer"></footer>

  <!-- 모달창 -->
  <div class="modal">
    <div class="background"></div>
    <img class="view-img" src="" />
  </div>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
  <script th:src="@{/js/index/header.js}"></script>
    <script src="/js/hairstyle/hairStyleRead.js"></script>
  </body>
</html>
