<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" th:href="@{/css/hair/hairStyleRead.css}" />
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
  </head>
  <body>
    <div class="container">

      <!-- 배너 -->
      <div class="banner">
        <img src="/img/tab-banner-06.png" alt="배너">
      </div>

      <div class="styleInformation">
        <div class="product-img-box">
          <!-- 대표 이미지 업로드 -->
          <div class="form-group">
            <ul class="file-wrap">
              <!-- 썸네일 처리 해야함 -->
              <li class="img-list"><img src="/img/styleImg.jpg" alt=""></li>
              <li class="img-list"><img src="/img/styleImg.jpg" alt=""></li>
              <li class="img-list"><img src="/img/styleImg.jpg" alt=""></li>
              <li class="img-list"><img src="/img/styleImg.jpg" alt=""></li>
              <li class="img-list"><img src="/img/styleImg.jpg" alt=""></li>
            </ul>
          </div>
        </div>

        <!-- 모달창 -->
        <div class="modal">
          <div class="background"></div>
          <img class="view-img" />
        </div>

        <div class="style-content">
          <div class="styleBox">
            <div class="style-category">
              <span>여자</span> > <span>미디엄</span> > <span>계란형</span>
            </div>
            <div class="style-title">레이어드컷</div>
            <div class="buttons">
              <button type="button" class="likeBtn">하트</button>
            </div>
          </div>
          <div class="like">
            <div class="like-img"></div>
            <span class="like-cnt">999</span>
          </div>

          <div class="contentBox">
            <div class="content">
              층과 층 사이가 겉에서 보기에 거의 느껴지지 않고 안쪽으로 층을 낸
              스타일을 보통 레이어드컷이라고 얘기합니다. 🙄 질감을 살린다?
              '질감(texture)을 살린다'는 표현은 머리숱과 층을 정리하는 방식에
              따라 겉으로 보이는 느낌을 설명할 때 쓰는 말입니다. 층과 층 사이가
              겉에서 보기에 거의 느껴지지 않고 안쪽으로 층을 낸 스타일을 보통
              레이어드컷이라고 얘기합니다. 🙄 질감을 살린다? '질감(texture)을
              살린다'는 표현은 머리숱과 층을 정리하는 방식에 따라 겉으로 보이는
              느낌을 설명할 때 쓰는 말입니다. 층과 층 사이가 겉에서 보기에 거의
              느껴지지 않고 안쪽으로 층을 낸 스타일을 보통 레이어드컷이라고
              얘기합니다. 🙄 질감을 살린다? '질감(texture)을 살린다'는 표현은
              머리숱과 층을 정리하는 방식에 따라 겉으로 보이는 느낌을 설명할 때
              쓰는 말입니다. 층과 층 사이가 겉에서 보기에 거의 느껴지지 않고
              안쪽으로 층을 낸 스타일을 보통 레이어드컷이라고 얘기합니다. 🙄
              질감을 살린다? '질감(texture)을 살린다'는 표현은 머리숱과 층을
              정리하는 방식에 따라 겉으로 보이는 느낌을 설명할 때 쓰는 말입니다.
              겉으로 보이는 느낌을 설명할 때 쓰는 말입니다. 층과 층 사이가
              겉에서 보기에 거의 느껴지지 않고 안쪽으로 층을 낸 스타일을 보통
              레이어드컷이라고 얘기합니다. 🙄 질감을 살린다? '질감(texture)을
              살린다'는 표현은 머리숱과 층을 정리하는 방식에 따라 겉으로 보이는
              느낌을 설명할 때 쓰는 말입니다. 층과 층 사이가 겉에서 보기에 거의
              느껴지지 않고 안쪽으로 층을 낸 스타일을 보통 레이어드컷이라고
              얘기합니다. 🙄 질감을 살린다? '질감(texture)을 살린다'는 표현은
              머리숱과 층을 정리하는 방식에 따라 겉으로 보이는 느낌을 설명할 때
              쓰는 말입니다. 층과 층 사이가 겉에서 보기에 거의 느껴지지 않고
              안쪽으로 층을 낸 스타일을 보통 레이어드컷이라고 얘기합니다. 🙄
              질감을 살린다? '질감(texture)을 살린다'는 표현은 머리숱과 층을
              정리하는 방식에 따라 겉으로 보이는 느낌을 설명할 때 쓰는 말입니다.
            </div>
          </div>

        </div>
      </div>

      <!-- 헤어샵 링크로 바로 가기 -->
      <h1 class="hairShop-title">현재 예약 가능한 헤어샵</h1>
      <div class="hairShop">
        <div class="shop-group">
          <ul class="ListUl">
            <li class="ListLi">
              <a href="#">
                  <div class="img-list">
                      <div class="main-img">
                          <img src="https://mblogthumb-phinf.pstatic.net/MjAyMTEyMTVfMTg3/MDAxNjM5NTc2MDYzOTU5.t99xzUpgqkooL2EJY11JEEGTdsf23al8EeL7HymsDV4g.qCXPe5Gie7lwD1mdQNglSJvsOoOCD05oW7g7hdRhv-gg.JPEG.se413496/b9a07eb4e1e3a6773d93309164a98f2b.jpg?type=w800" alt="썸네일">
                        </div>
                  </div>
              </a>
              <div class="titleAndBtn">
                  <p class="shop-title">매장명입니다</p>
                  <div class="button">
                      <button type="button" class="like">하트</button>
                  </div>
              </div>
              <div class="address-box">
                  <span class="address">상세 주소 어쩌구 저쩌구</span>
              </div>
          </li>
          <!-- 두번째 -->
          <li class="ListLi">
              <a href="#">
                  <div class="img-list">
                      <div class="main-img">
                          <img src="https://mblogthumb-phinf.pstatic.net/MjAyMTEyMTVfMTg3/MDAxNjM5NTc2MDYzOTU5.t99xzUpgqkooL2EJY11JEEGTdsf23al8EeL7HymsDV4g.qCXPe5Gie7lwD1mdQNglSJvsOoOCD05oW7g7hdRhv-gg.JPEG.se413496/b9a07eb4e1e3a6773d93309164a98f2b.jpg?type=w800" alt="썸네일">
                        </div>
                  </div>
              </a>
              <div class="titleAndBtn">
                  <p class="shop-title">매장명입니다</p>
                  <div class="button">
                      <button type="button" class="like">하트</button>
                  </div>
              </div>
              <div class="address-box">
                  <span class="address">상세 주소 어쩌구 저쩌구</span>
              </div>
          </li>
          <!-- 세번째 -->
          <li class="ListLi">
              <a href="#">
                  <div class="img-list">
                      <div class="main-img">
                          <img src="https://mblogthumb-phinf.pstatic.net/MjAyMTEyMTVfMTg3/MDAxNjM5NTc2MDYzOTU5.t99xzUpgqkooL2EJY11JEEGTdsf23al8EeL7HymsDV4g.qCXPe5Gie7lwD1mdQNglSJvsOoOCD05oW7g7hdRhv-gg.JPEG.se413496/b9a07eb4e1e3a6773d93309164a98f2b.jpg?type=w800" alt="썸네일">
                        </div>
                  </div>
              </a>
              <div class="titleAndBtn">
                  <p class="shop-title">매장명입니다</p>
                  <div class="button">
                      <button type="button" class="like">하트</button>
                  </div>
              </div>
              <div class="address-box">
                  <span class="address">상세 주소 어쩌구 저쩌구</span>
              </div>
          </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="/js/hairstyle/hairStyleRead.js"></script>
  </body>
</html>
