<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/community/communityList.css}"/>
    <link rel="stylesheet" th:href="@{/css/index/header.css}" />
    <link rel="stylesheet" th:href="@{/css/index/footer.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>

  <header class="header" th:replace="fragment/header :: header"></header>
    <div class="container">
      <!-- 배너 -->
      <div class="banner">
        <img src="/img/tab-banner-04.png" alt="배너">
      </div>

      <!-- 검색 기능 -->
        <div class="search">
          <form id="search" th:action="@{/board/search}" method="get">
            <input type="radio" id="title" name="searchType" value="title" checked> <label for="title">제목</label>
            <input type="radio" id="content" name="searchType" value="content"> <label for="content">내용</label>
            <input type="text" id="text" name="keyword" placeholder="검색 단어를 입력해 주세요.">
                  <button type="submit">검색</button>
          </form>
                  <button type="button" class="write-btn">글쓰기</button>

      </div>

        <!-- 카테고리 -->
      <table class="category">
        <tr>
          <td>
            <button id="button0" class="categoryBtn selected">
              전체&nbsp;(<span>1</span>)
            </button>
          </td>
          <td>
            <button id="button1" class="categoryBtn" data-board-category-number="1">
              자유&nbsp;(<span>1</span>)
            </button>
          </td>
          <td>
            <button id="button2" class="categoryBtn" data-board-category-number="2">
              꿀팁&nbsp;(<span>1</span>)
            </button>
          </td>
          <td>
            <button id="button3" class="categoryBtn" data-board-category-number="3">
              질문&nbsp;(<span>1</span>)
            </button>
          </td>
          <td>
            <button id="button4" class="categoryBtn" data-board-category-number="4">
              후기&nbsp;(<span>1</span>)
            </button>
          </td>
        </tr>
      </table>

      </article>

      <!-- 리스트 -->
      <article class="holder">
        <div class="communityList cL" id="boardList">
          <ul class="ListUl">
            <!-- 첫번째 -->
            <li class="ListLi" th:each="board : ${boardList}">
              <div class="board-category-number" th:text="${board.boardCategoryNumber}" style="display: none;"></div>
              <div class="profile">
                <a href="#">
                  <div class="profiles profile-img">
                    <img src="https://mblogthumb-phinf.pstatic.net/MjAyMTEyMTVfMTgz/MDAxNjM5NTc2MDYxMjQw.jGbcfmGy9UjE1k3obpZy9piP41BQTf_PbLi0VdBRL9sg.vfIiwqDJVvwviW1J9I0QZwNCcfleCTAGemKH_INjJfwg.JPEG.se413496/c55c762ce418abefd071aa7e81c5a213.jpg?type=w800" alt="프로필 이미지">
                  </div>
                  <p class="profiles profile-nick" th:text="${board.UserNickName}"></p>
                </a>
                <div class="buttons">
                  <button type="button" class="like">하트</button>
                </div>
              </div>
              <a th:href="@{/board/communityRead(boardNumber=${board.boardNumber})}">
                <div class="img-list">


                  <div th:if="${board.boardFileName == null}" class="main-img">
                    <img src="https://mblogthumb-phinf.pstatic.net/MjAyMTEyMTVfMTg3/MDAxNjM5NTc2MDYzOTU5.t99xzUpgqkooL2EJY11JEEGTdsf23al8EeL7HymsDV4g.qCXPe5Gie7lwD1mdQNglSJvsOoOCD05oW7g7hdRhv-gg.JPEG.se413496/b9a07eb4e1e3a6773d93309164a98f2b.jpg?type=w800" alt="썸네일">
                  </div>
                  <div th:unless="${board.boardFileName == null}" class="main-img">
<!--                    <img th:src="@{/upload/2023/06/22/th_cc606c92-1766-4571-b275-cf927a336064_102.jpg}">-->
                    <img th:src="@{'/upload/' + ${board.boardFileUploadPath} + '/th_' + ${board.boardFileUuid} + '_' + ${board.boardFileName}}" alt="썸네일">
                  </div>

                </div>
              </a>
              <div class="titleAndCnt">
                <p class="community-title" th:text="${board.boardTitle}"></p>
                <div class="count">
                  <span class="reply">댓글</span>
                  <span class="replyCnt">3</span>
                  <span class="view">조회수 </span>
                  <span class="viewCnt">5</span>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- 페이징 처리 -->
        <div class="pagination">
          <ul>
            <a th:href="@{/board/search(page=${pageInfo.startPage - 1}, searchType=${search.searchType}, keyword=${search.keyword})}" class="prev" th:if="${pageInfo.prev}">
            <li>&laquo;</li>
            </a>

            <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
              <a th:href="@{/board/search(page=${i}, searchType=${search.searchType}, keyword=${search.keyword})}" >
              <li class="active" th:text="${i}" th:if="${i == pageInfo.criteria.page}"></li>
              <li th:text="${i}" th:unless="${i == pageInfo.criteria.page}"></li>
              </a>
            </th:block>

            <a th:href="@{/board/search(page=${pageInfo.endPage + 1}, searchType=${search.searchType}, keyword=${search.keyword})}" class="next" th:if="${pageInfo.next}">
            <li>&raquo;</li>
            </a>
          </ul>
        </div>

      </article>
    </div>
  <footer class="footer" th:replace="fragment/footer :: footer"></footer>

  <input type="hidden" class="board-num" th:value="${boardNumber}">

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script th:src="@{/js/index/header.js}"></script>
    <script th:src="@{/js/community/communityList.js}"></script>
    <script>
      let boardNum = $('.board-num').val();
      if(boardNum){
        alert(boardNum + '번 게시물이 등록되었습니다!');
      }
    </script>
  </body>
</html>
