<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/community/communityWrite.css}" />
      <link rel="stylesheet" th:href="@{/css/index/header.css}" />
      <link rel="stylesheet" th:href="@{/css/index/footer.css}" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
  <header class="header" th:replace="fragment/header :: header"></header>
<!-- main -->
    <div class="container">
      <!-- 배너 -->
      <div class="banner">
        <img src="/img/tab-banner-04+.png" alt="배너">
      </div>

      <form th:action="@{/board/communityModify}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="boardNumber" th:value="${board.boardNumber}">
        <!-- 이미지 등록 -->
        <div class="content">
          <div class="title">대표이미지</div>
          <div class="image-upload-wrap">
              <input type="file" name="communityFile" id="file" accept=".jpg, .jpeg, .png" multiple>
              <div class="image-upload-box">
                  <p>
                      <span class="material-symbols-outlined">
                          upload
                      </span>
                  </p>
                  <p>대표 이미지 1장 업로드 가능</p>
                  <p>파일 형식 : jpg, jpeg, png</p>
                  <p>※이미지를 등록하면 즉시 반영됩니다.</p>
              </div>
          </div>
          <div class="img-controller-box">
              <ul class="file-list">

              </ul>
          </div>
      </div>

        <!-- 카테고리 -->
        <div class="content">
          <div class="title">카테고리</div>
          <div class="dropdown">
            <div class="dropdown-btn">
              카테고리를 선택하세요.
              <span class="material-symbols-outlined">
                expand_more
              </span>
            </div>
            <ul class="dropdown-menu">
              <li>자유</li>
              <li>꿀팁</li>
              <li>질문</li>
              <li>후기</li>
            </ul>
          </div>
      </div>

        <!-- 제목 -->
        <div class="content">
          <div class="title">제목</div>
          <input type="text" name="boardTitle" th:value="${board.boardTitle}" required />
      </div>

        <!-- 서머노트 -->
        <div id="editor" name="boardContent" th:text="${board.boardContent}"></div>
        
        <!-- 완료 및 취소 버튼 -->
        <div class="buttons">
          <button type="button" class="writeCancel-btn">수정 취소</button>
          <button type="submit">수정 완료</button>
      </div>
    </form>
    </div>
  <footer class="footer" th:replace="fragment/footer :: footer"></footer>

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  <script th:src="@{/js/index/header.js}"></script>
       <script src="/js/community/communityWrite.js"></script>
  </body>
</html>
