<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/community/communityList.css}"/>
    <link rel="stylesheet" th:href="@{/css/index/header.css}" />
    <link rel="stylesheet" th:href="@{/css/index/footer.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>

  <header class="header" th:replace="fragment/header :: header"></header>
    <div class="container">
      <!-- 배너 -->
      <div class="banner">
        <img src="/img/tab-banner-04.png" alt="배너">
      </div>

      <!-- 검색 기능 -->
        <div class="search">
            <input type="radio" id="title" name="searchType" value="title" checked> <label for="title">제목</label>
            <input type="radio" id="content" name="searchType" value="content"> <label for="content">작성자</label>
            <input type="text" id="text" name="keyword" class="select-name" placeholder="검색 단어를 입력해 주세요.">
                  <button type="submit" class="search-btn">검색</button>
                  <button type="button" class="write-btn">글쓰기</button>

      </div>

        <!-- 카테고리 -->
      <table class="category" th:with="cnt = ${categoryCnt}">
        <tr>
          <td>
            <button id="button0" class="categoryBtn selected" value="">
              전체&nbsp;<span></span>
            </button>
          </td>
          <td>
            <button id="button1" class="categoryBtn" value="1">
              자유&nbsp;(<span th:text="${cnt[0].categoryCnt}"></span>)
            </button>
          </td>
          <td>
            <button id="button2" class="categoryBtn" value="2">
              꿀팁&nbsp;(<span th:text="${cnt[1].categoryCnt}"></span>)
            </button>
          </td>
          <td>
            <button id="button3" class="categoryBtn" value="3">
              질문&nbsp;(<span th:text="${cnt[2].categoryCnt}"></span>)
            </button>
          </td>
          <td>
            <button id="button4" class="categoryBtn" value="4">
              후기&nbsp;(<span th:text="${cnt[3].categoryCnt}"></span>)
            </button>
          </td>
        </tr>
      </table>

      </article>

      <!-- 리스트 -->
      <article class="holder">
        <div class="communityList cL" id="boardList">
          <ul class="ListUl">
            <!-- 첫번째 -->
            <li class="ListLi" th:each="board : ${boardList}">
              <div class="board-category-number" th:text="${board.boardCategoryNumber}" style="display: none;"></div>
              <div class="profile">
                <a href="#">
                  <div class="profiles profile-img">
                    <img th:if="${board.userFileName == null}" src="https://www.studiopeople.kr/common/img/default_profile.png" alt="임시 썸네일">
                    <img th:unless="${board.userFileName == null}" th:src="@{'/upload/' + ${board.userFileUploadPath} + '/th_' + ${board.userFileUuid} + '_' + ${board.userFileName}}" alt="프로필">
                  </div>
                  <p class="profiles profile-nick" th:text="${board.userNickName}"></p>
                  <span class="membership-span" th:if="${board.membershipNumber == 1L}">👤일반 회원</span>
                  <span class="membership-span" th:if="${board.membershipNumber == 2L}">✂️스타일 전문가</span>
                  <span class="membership-span" th:if="${board.membershipNumber == 3L}">🎓케어 전문가</span>
                </a>
                <div class="buttons">
                  <button type="button" class="like" th:value="${board.boardNumber}"
                          th:classappend="${board.likeCnt == 1 ? 'active' : ''}"
                          th:style="${board.likeCnt == 1 ? 'background-image:url(/img/heart2.png)' : ''}">하트</button>
                </div>
              </div>
              <a th:href="@{/board/communityRead(boardNumber=${board.boardNumber})}">
                <div class="img-list">


                  <div th:if="${board.boardFileName == null}" class="main-img">
                    <img src="/img/no-image-box.png" alt="썸네일">
                  </div>
                  <div th:unless="${board.boardFileName == null}" class="main-img">
                    <img th:src="@{'/upload/' + ${board.boardFileUploadPath} + '/th_' + ${board.boardFileUuid} + '_' + ${board.boardFileName}}" alt="썸네일">
                  </div>

                </div>
              </a>
              <div class="titleAndCnt">
                <p class="community-title" th:text="${board.boardTitle}"></p>
                <div class="count">
                  <span class="reply">댓글</span>
                  <span class="replyCnt" th:text="${board.replyCnt}"></span>
                  <span class="view">조회수 </span>
                  <span class="viewCnt" th:text="${board.boardViewCnt}"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- 페이징 처리 -->
        <div class="pagination">
          <ul>
            <a th:href="@{/board/communityList(page=${pageInfo.startPage - 1}, searchType=${search.searchType}, keyword=${search.keyword})}" class="prev" th:if="${pageInfo.prev}">
            <li>&laquo;</li>
            </a>

            <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
              <a th:href="@{/board/communityList(page=${i}, searchType=${search.searchType}, keyword=${search.keyword})}" >
              <li class="active" th:text="${i}" th:if="${i == pageInfo.criteria.page}"></li>
              <li th:text="${i}" th:unless="${i == pageInfo.criteria.page}"></li>
              </a>
            </th:block>

            <a th:href="@{/board/communityList(page=${pageInfo.endPage + 1}, searchType=${search.searchType}, keyword=${search.keyword})}" class="next" th:if="${pageInfo.next}">
            <li>&raquo;</li>
            </a>
          </ul>
        </div>

      </article>
    </div>
  <footer class="footer" th:replace="fragment/footer :: footer"></footer>

<!--  <input type="hidden" class="board-num" th:value="${boardNumber}">-->

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script th:src="@{/js/index/header.js}"></script>
    <script th:src="@{/js/community/communityList.js}"></script>
    <script>
      let boardNum = $('.board-num').val();
      if(boardNum){
        alert(boardNum + '번 게시물이 등록되었습니다!');
      }
    </script>
  </body>
</html>
