<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index/header.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>header</title>
</head>
<body>
    <div class="header">

        <div class="header-left">
            <a href="#" class="header-logo">
                <img src="/img/logo.png" alt="로고" height="70px">
            </a>

            <ul class="header-menu">
                <li>
                    <a href="#">스타일</a>
                </li>
                <li>
                    <a href="#">케어</a>
                </li>
                <li>
                    <a href="#">제품</a>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                </li>
            </ul>
        </div>

        <div class="header-right">
            <a href="#" class="header-icon">
                <span class="material-symbols-rounded basket" style="font-size:28px;">
                    shopping_bag
                    <span class="basket-count">
                        0
                    </span>
                </span>
            </a>

            <div  class="header-icon">
                <span class="material-symbols-rounded" style="font-size:28px;">
                    sentiment_satisfied
                </span>
                <div class="dropdown-content">
                    <ul>
                        <a href="#"><li>로그아웃</li></a>
                        <a href="#"><li>마이페이지</li></a>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="/js/index/header.js"></script>
</body>
</html>