<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <title>footer</title>
</head>
<body>
    <div class="footer" th:fragment="footer">

        <div class="footer-menu">
            <ul class="menu">
                <li>개인정보처리방침</li>
                <li>영상정보관리지침</li>
                <li>이용약관</li>
            </ul>

            <ul class="member-info">
                <li>팀명 : YBG I 구성원 : 김윤, 이가은, 송지호, 윤희석</li>
                <li>프로젝트명 : 헤어 스타일 및 케어 서비스 '헤어나다'</li>
                <li>주소 : 서울 강남구 테헤란로 146 코리아IT코딩아카데미</li>
                <li>전화번호 : 010-1234-5678</li>
                <li>COPYRIGHT &copy; TEAM.YBG.PROJECT. ALL RIGHTS RESERVED.</li>
            </ul>

            <a th:href="@{/main}" class="footer-logo">
                <img src="/img/logo.png" alt="로고" height="70px">
            </a>
        </div>

        <div class="footer-info">
            <div class="footer-info-01">
                <p class="title">고객센터</p>
                <p>1234-5678</p>
                <p>aaa@hairnada.co.kr</p>

                <ul>
                    <li>상담전화 13:00 ~16:00 (평일)</li>
                    <li>상담톡 10:00 ~16:00 (평일)</li>
                </ul>
            </div>

            <div class="footer-info-02">
                <p class="title">단체예약</p>
                <p>070-8765-4321</p>
                <p>bbb@hairnada.co.kr</p>

                <a th:href="@{/admin/adminLogin}"><p class="admin-login">관리자 로그인 바로가기</p></a>
            </div> 
        </div>

    </div>
</body>
</html>