<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hairnada.mapper.hair.HairMapper">

    <!--  조회  -->
    <select id="select" resultType="hairVo">
        SELECT th.HAIR_NUMBER , HAIR_NAME, HAIR_CONTENT , tl.LENGTH_NAME, HAIR_GENDER, th.SHAPE_NUMBER,
               tfs.SHAPE_NAME,(SELECT COUNT(L.USER_NUMBER) FROM TBL_HAIR_LIKE L WHERE L.USER_NUMBER = #{userNumber} and HAIR_NUMBER = #{hairNumber}) LIKE_CNT
        FROM TBL_HAIR th
                 JOIN TBL_LENGTH tl
                      ON th.LENGTH_NUMBER = tl.LENGTH_NUMBER
                 JOIN TBL_FACE_SHAPE tfs
                      ON th.SHAPE_NUMBER  = tfs.SHAPE_NUMBER
        WHERE th.HAIR_NUMBER  = #{hairNumber}
    </select>

    <!-- 헤어리스트 조회 -->
    <select id="selectHairList" resultType="hairVo">
        SELECT
            HAIR_NUMBER,
            HAIR_NAME,
            HAIR_FILE_NAME,
            HAIR_FILE_UUID,
            HAIR_FILE_UPLOAD_PATH,
            (SELECT COUNT(L.USER_NUMBER) FROM TBL_HAIR_LIKE L WHERE L.USER_NUMBER = #{userNumber} and S1.HAIR_NUMBER = L.HAIR_NUMBER) LIKE_CNT
        FROM
            (
                SELECT
                    ROWNUM AS RNUM ,
                    HAIR_NUMBER,
                    HAIR_NAME,
                    HAIR_FILE_NAME,
                    HAIR_FILE_UUID,
                    HAIR_FILE_UPLOAD_PATH
                FROM
                    (
                        SELECT
                            th.HAIR_NUMBER,
                            HAIR_NAME,
                            thf.HAIR_FILE_NAME,
                            thf.HAIR_FILE_UUID,
                            thf.HAIR_FILE_UPLOAD_PATH
                        FROM
                            TBL_HAIR th
                                LEFT JOIN
                            (
                                SELECT
                                    HAIR_FILE_NUMBER ,
                                    HAIR_FILE_NAME ,
                                    HAIR_FILE_UPLOAD_PATH ,
                                    HAIR_FILE_UUID ,
                                    HAIR_NUMBER
                                FROM
                                    (
                                        SELECT
                                            HAIR_FILE_NUMBER ,
                                            HAIR_FILE_NAME ,
                                            HAIR_FILE_UPLOAD_PATH ,
                                            HAIR_FILE_UUID ,
                                            HAIR_NUMBER,
                                            RANK() OVER(PARTITION BY HAIR_NUMBER ORDER BY HAIR_FILE_NUMBER) RK
                                        FROM
                                            TBL_HAIR_FILE)
                                WHERE
                                    RK = 1) thf
                            ON
                                th.HAIR_NUMBER = thf.HAIR_NUMBER
                        ORDER BY
                            HAIR_NUMBER DESC)
<![CDATA[
                WHERE
                    ROWNUM <= #{criteria.page} * #{criteria.amount}
             ]]>
        )S1
        WHERE
            RNUM > (#{criteria.page} - 1 ) * #{criteria.amount}
    </select>

    <!-- 헤어 게시글 수 -->
    <select id="hairTotal" resultType="_int">
        SELECT COUNT(HAIR_NUMBER) FROM TBL_HAIR
    </select>

    <!-- 카테고리 선택으로 헤어리스트 조회 -->
    <select id="selectHairListByCategory" resultType="hairDto">
        SELECT HAIR_NAME FROM TBL_HAIR th
        WHERE LENGTH_NUMBER = #{lengthNumber} AND SHAPE_NUMBER = #{shapeNumber} AND HAIR_GENDER = #{hairGender}
    </select>

    <!-- 제목으로 헤어리스트 조회 -->
    <select id="selectHairListByName" resultType="hairDto">
        SELECT HAIR_NAME FROM TBL_HAIR
        WHERE HAIR_NAME LIKE '%'||#{hairName}||'%'
    </select>

    <select id="selectHairSearch" resultType="hairVo">
        SELECT HAIR_NUMBER, HAIR_NAME, HAIR_CONTENT, HAIR_GENDER, SHAPE_NUMBER, LENGTH_NUMBER, HAIR_FILE_NUMBER, HAIR_FILE_NAME, HAIR_FILE_UPLOAD_PATH, HAIR_FILE_UUID,
        (SELECT COUNT(L.USER_NUMBER) FROM TBL_HAIR_LIKE L WHERE L.USER_NUMBER = #{userNumber} and S1.HAIR_NUMBER = L.HAIR_NUMBER) LIKE_CNT
        FROM (
            SELECT ROWNUM AS RNUM, HAIR_NUMBER, HAIR_NAME, HAIR_CONTENT, HAIR_GENDER, SHAPE_NUMBER, LENGTH_NUMBER, HAIR_FILE_NUMBER, HAIR_FILE_NAME, HAIR_FILE_UPLOAD_PATH, HAIR_FILE_UUID
            FROM (
                SELECT H.HAIR_NUMBER, HAIR_NAME, HAIR_CONTENT, HAIR_GENDER, SHAPE_NUMBER, LENGTH_NUMBER, HAIR_FILE_NUMBER, HAIR_FILE_NAME, HAIR_FILE_UPLOAD_PATH, HAIR_FILE_UUID
                FROM TBL_HAIR H
                LEFT JOIN (
                    SELECT HAIR_FILE_NUMBER, HAIR_FILE_NAME, HAIR_FILE_UPLOAD_PATH, HAIR_FILE_UUID, HAIR_NUMBER
                    FROM (
                        SELECT HAIR_FILE_NUMBER, HAIR_FILE_NAME, HAIR_FILE_UPLOAD_PATH, HAIR_FILE_UUID, HAIR_NUMBER, RANK() over (PARTITION BY HAIR_NUMBER ORDER BY HAIR_FILE_NUMBER) RK
                        FROM TBL_HAIR_FILE
                    )
                    WHERE RK = 1
                ) F
                ON H.HAIR_NUMBER = F.HAIR_NUMBER
                <trim prefix="where" prefixOverrides="AND">
                    <if test="searchHairVo.hairGender != null">
                        AND HAIR_GENDER LIKE '%' || #{searchHairVo.hairGender} || '%'
                    </if>
                    <if test="searchHairVo.shapeNumber != null">
                        AND SHAPE_NUMBER = #{searchHairVo.shapeNumber}
                    </if>
                    <if test="searchHairVo.lengthNumber != null">
                        AND LENGTH_NUMBER = #{searchHairVo.lengthNumber}
                    </if>
                    <if test="searchHairVo.keyword != null">
                        AND HAIR_NAME LIKE '%' || #{searchHairVo.keyword} || '%'
                    </if>
                </trim>
            )<![CDATA[
            WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
            ]]>
        )S1
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <select id="selectSearchTotal" resultType="_int">
        SELECT COUNT(H.HAIR_NUMBER)
        FROM TBL_HAIR H
                 LEFT JOIN (
            SELECT HAIR_FILE_NUMBER, HAIR_FILE_NAME, HAIR_FILE_UPLOAD_PATH, HAIR_FILE_UUID, HAIR_NUMBER
            FROM (
                     SELECT HAIR_FILE_NUMBER, HAIR_FILE_NAME, HAIR_FILE_UPLOAD_PATH, HAIR_FILE_UUID, HAIR_NUMBER, RANK() over (PARTITION BY HAIR_NUMBER ORDER BY HAIR_FILE_NUMBER) RK
                     FROM TBL_HAIR_FILE
                 )
            WHERE RK = 1
        ) F
        ON H.HAIR_NUMBER = F.HAIR_NUMBER
        <trim prefix="where" prefixOverrides="AND">
            <if test="hairGender != null">
                AND HAIR_GENDER LIKE '%' || #{hairGender} || '%'
            </if>
            <if test="shapeNumber != null">
                AND SHAPE_NUMBER = #{shapeNumber}
            </if>
            <if test="lengthNumber != null">
                AND LENGTH_NUMBER = #{lengthNumber}
            </if>
            <if test="keyword != null">
                AND HAIR_NAME LIKE '%' || #{keyword} || '%'
            </if>
        </trim>
    </select>

    <select id="likeTotal" resultType="_int">
        SELECT COUNT (USER_NUMBER)
        FROM TBL_HAIR_LIKE
        WHERE HAIR_NUMBER = #{hairNumber}
    </select>

    <select id="selectHairShop" resultType="hairShopVo">
        SELECT HAIR_SHOP_NUMBER, HAIR_SHOP_NAME, HAIR_SHOP_ADDRESS,
               HAIR_SHOP_FILE_UPLOAD_PATH, HAIR_SHOP_FILE_UUID, HAIR_SHOP_FILE_NAME,
               USER_NUMBER, MEMBERSHIP_NUMBER
        FROM (
                 SELECT ROWNUM AS RNUM, HAIR_SHOP_NUMBER, HAIR_SHOP_NAME,
                        HAIR_SHOP_ADDRESS, HAIR_SHOP_FILE_UPLOAD_PATH, HAIR_SHOP_FILE_UUID,
                        HAIR_SHOP_FILE_NAME, USER_NUMBER, MEMBERSHIP_NUMBER
                 FROM (
                          SELECT H.HAIR_SHOP_NUMBER, HAIR_SHOP_NAME, HAIR_SHOP_ADDRESS,
                                 HAIR_SHOP_FILE_UPLOAD_PATH, HAIR_SHOP_FILE_UUID, HAIR_SHOP_FILE_NAME,
                                 U.USER_NUMBER, MEMBERSHIP_NUMBER
                          FROM TBL_USER U JOIN TBL_HAIR_SHOP H
                                               ON U.USER_NUMBER = H.USER_NUMBER
                                          LEFT JOIN(
                              SELECT HAIR_SHOP_FILE_NUMBER, HAIR_SHOP_FILE_UPLOAD_PATH,
                                     HAIR_SHOP_FILE_UUID, HAIR_SHOP_FILE_NAME, HAIR_SHOP_NUMBER
                              FROM(
                                      SELECT HAIR_SHOP_FILE_NUMBER, HAIR_SHOP_FILE_UPLOAD_PATH,
                                             HAIR_SHOP_FILE_UUID, HAIR_SHOP_FILE_NAME, HAIR_SHOP_NUMBER,
                                             RANK() OVER(PARTITION BY HAIR_SHOP_NUMBER ORDER BY HAIR_SHOP_FILE_NUMBER) RK
                                      FROM TBL_HAIR_SHOP_FILE
                                  )
                              WHERE RK = 1
                          ) J ON H.HAIR_SHOP_NUMBER = J.HAIR_SHOP_NUMBER
                          ORDER BY H.HAIR_SHOP_NUMBER DESC
                      ) T1
             ) T2 WHERE RNUM =#{number}
    </select>

    <select id="selectHairShopCnt" resultType="_int">
        SELECT COUNT(HAIR_SHOP_NUMBER)
        FROM TBL_HAIR_SHOP
    </select>
</mapper>