<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/user/join.css}" />
    <link rel="stylesheet" th:href="@{/css/index/header.css}">
    <link rel="stylesheet" th:href="@{/css/index/footer.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  </head>
  <body>
  <header class="header" th:replace="fragment/header :: header"></header>
    <div class="body-main">
      <div class="main-body">
        <div class="main-join">
          <h1 class="join-text">회원가입</h1>
          <div class="information">
            <h2 class="information-text"></h2>
            <div class="star-text"></div>
          </div>
          <form class="signup-form" th:action="@{/user/join}" method="post">
          <div class="input-box">
            <div class="input-id">
              <div class="id">아이디</div>
              <input
                type="text"
                class="id-box"
                name="userId"
                placeholder="영문 또는 영문 및 숫자 4자리 이상"
                autocomplete="off"
                required
              />
              <button type="button" class="double-check">중복확인</button>
            </div>
            <span class="id-err-text">중복된 아이디 입니다.</span>
            <span class="id-err-text2">사용 가능한 아이디 입니다.</span>
            <div class="input-password">
              <div class="password">비밀번호</div>
              <input
                type="password"
                class="password-box"
                name="userPassword"
                placeholder="영문 대소문자 및 숫자 중 2개 이상 조합, 8자리 이상"
                autocomplete="off"
                required
              />
            </div>
            <span class="pw-err-text"
              >영문 대소문자 및 숫자 중 2개 이상 조합, 8자리 이상
              작성해주세요.</span
            >
            <div class="input-repassword">
              <div class="repassword">비밀번호 확인</div>
              <input type="password" class="repassword-box" required autocomplete="off"/>
            </div>
            <span class="pw-err-text1">일치하지 않는 비밀번호 입니다.</span>
            <span class="pw-err-text2">일치하는 비밀번호 입니다.</span>
            <div class="input-name">
              <div class="name">이름</div>
              <input type="text" class="name-box" name="userName" required autocomplete="off"/>
            </div>
            <div class="input-nickname">
              <div class="nickname">닉네임</div>
              <input type="text" class="nickname-box" name="userNickname" required autocomplete="off"/>
            </div>
            <span class="nickName-err-text">중복된 닉네임 입니다.</span>
            <span class="nickName-err-text2">사용 가능한 닉네임 입니다.</span>
            <div class="input-gender">
              <div class="gender">성별</div>
              <label for="gender-f">
                <div type="button" class="female-box" >여성</div>
              </label>
              <label for="gender-m">
                <div type="button" class="male-box check-background">남성</div>
              </label>
              <input type="radio" name="userGender" id="gender-f"  value="F" />
              <input type="radio" name="userGender" id="gender-m" value="M" />
            </div>
            <div class="input-phone">
              <div class="phone">휴대전화 번호</div>
              <input type="text" class="phone-box" name="userPhoneNumber" required autocomplete="off"/>
            </div>
            <div class="input-email">
              <div class="email">이메일</div>
              <input type="hidden" name="userEmail" class="realEmail" value="">
              <input type="text" class="email-box" required autocomplete="off"/>

              <div class="dropdown">
                <button class="dropdown-btn" type="button">
                  직접입력
                  <span class="material-symbols-rounded">
                    expand_more
                </span>
                </button>
                <ul class="dropdown-menu">
                  <li>직접입력</li>
                  <li>@naver.com</li>
                  <li>@hanmail.net</li>
                  <li>@gmail.com</li>
                  <li>@nate.com</li>
                </ul>
              </div>
            </div>
            <div class="email-text">
              ※ 아이디 비밀번호 찾기에 활용 되므로 정확하게 입력해 주세요.
            </div>
            <div class="input-address">
              <div class="address">주소</div>
              <input
                type="text"
                id="sample6_postcode"
                placeholder="우편번호"
                readonly
                required
              />
              <button type="button" class="search-address" onclick="sample6_execDaumPostcode()">
                우편변호 검색
              </button>
            </div>
            <input
              type="text"
              id="sample6_address"
              placeholder="주소"
              name="userAddress"
              readonly
            />
            <input type="text" placeholder="상세주소" name="userAddressDetail" autocomplete="off" id="sample6_detailAddress" />
            <input type="text" placeholder="참고항목" id="sample6_extraAddress" readonly />
            <button type="submit" class="ok-btn">회원가입</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  <footer class="footer" th:replace="fragment/footer :: footer"></footer>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/user/join.js}"></script>
    <script th:src="@{/js/index/header.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </body>
</html>
