<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/user/login.css}" />
    <link rel="stylesheet" th:href="@{/css/index/header.css}">
    <link rel="stylesheet" th:href="@{/css/index/footer.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>

  <header class="header" th:replace="fragment/header :: header"></header>
    <div class="body-main">
      <div class="main-body">
        <div class="main-login">
          <h1 class="login-text">로그인</h1>
          <form class="login-form" th:action="@{/user/login}" method="post">
          <div class="input-login">
            <input type="text" class="login-box" name="userId" placeholder="아이디" autocomplete="off"/>
            <input
              type="password"
              name="userPassword"
              class="password-box"
              placeholder="비밀번호"
              autocomplete="off"
            />
            <span class="id-pw-no">아이디 또는 비밀번호가 일치하지 않습니다.</span>
          </div>
          <div class="login-button-box">
            <button type="submit" class="login-button">로그인</button>
          </div>

          <div class="join-box">
            <a th:href="@{/user/join}" class="join">회원가입</a>
            <a th:href="@{/user/find-id}" class="find-id">계정찾기</a>
          </div>
          <div class="login-api-box">
            <div
              class="naver-login"
              id="naverIdLogin_loginButton"
              href="javascript:void(0)"
            >
              <div class="naver-a">
                <img
                  src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_naver.png"
                  alt=""
                  class="naver-logo"
                />
                네이버 아이디 로그인
              </div>
            </div>
            <div class="kakao-login" onclick="kakaoLogin();">
              <div class="kakao-a">
                <img
                  src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_kakao.png"
                  alt=""
                  class="kakao-logo"
                />
                카카오 아이디 로그인
              </div>
            </div>
          </div>
          <div class="gwang-go">
            <a href="#" class="gwang-go-a">
              <img
                src="https://www.themoviedb.org/t/p/original/70xTjXpb0kfOhTRJqKwDYSG8Kle.jpg"
                alt=""
                class="gwang-go-img"
              />
            </a>
          </div>
          </form>
        </div>
      </div>

    </div>
  <footer class="footer" th:replace="fragment/footer :: footer"></footer>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script
      src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"
      charset="utf-8"
    ></script>
  <script th:src="@{/js/user/kakao.js}"></script>
  <script th:src="@{/js/user/login.js}"></script>
     <script th:src="@{/js/index/header.js}"></script>
  </body>
</html>
