<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/user/myBasket.css" />
  </head>
  <body>
    <div class="main-box">

      <div class="my-basket-box">
        <div id="my-basket-btn">
          <div class="my-basket active-banner selected">장바구니</div>
        </div>
        <div id="my-pay-btn">
          <div class="my-pay active-banner">구매내역</div>
        </div>
      </div>
      <div class="big-box"></div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/user/myBasket.js"></script>
  </body>
</html>
