<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/user/myBasket.css}" />
<!--    <link rel="stylesheet" th:href="@{/css/user/myPageMain.css}" />-->
    <link rel="stylesheet" th:href="@{/css/user/myPage.css}" />
    <link rel="stylesheet" th:href="@{/css/index/header.css}">
    <link rel="stylesheet" th:href="@{/css/index/footer.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


  </head>
  <body>
  <header class="header" th:replace="fragment/header :: header"></header>
  <header th:replace="/user/myPageMain :: myPageHeader"></header>
    <div class="main-box">
      <div class="my-basket-box">
        <div id="my-basket-btn">
          <div class="my-basket2 active-banner selected">장바구니</div>
        </div>
        <div id="my-pay-btn">
          <div class="my-pay active-banner">구매내역</div>
        </div>
      </div>
      <div class="big-box"></div>
    </div>
  <footer class="footer" th:replace="fragment/footer :: footer"></footer>
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/user/myBasket.js}"></script>
  <script th:src="@{/js/index/header.js}"></script>
  </body>
</html>
