<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>realMyPage</title>
    <link rel="stylesheet" href="../css/myPageMain.css" />
    <link rel="stylesheet" href="../css/reset.css" />
  </head>
  <body>
    <div class="body-main">
      <div class="main-header"></div>
      <div class="main-body">
        <div class="main-img">
          <div class="mypage-name">마이페이지</div>
          <img
            src="https://www.kobis.or.kr/common/mast/movie/2017/06/2062dfed10c346b7b9a6de42a315d747.jpg"
            alt=""
            class="back-img"
          />
        </div>
        <div class="explanation-text">
          *정보수정 시 원래 입력되어 있던 값이 다 있음
        </div>
        <div class="my-cate">
          <a href="#" class="my-info-a">
            <div class="my-info">회원정보</div>
          </a>
          <a href="#" class="my-post-a">
            <div class="my-post">작성글</div>
          </a>
          <a href="#" class="my-like-a">
            <div class="my-like">좋아요</div>
          </a>
          <a href="#" class="my-basket-a">
            <div class="my-basket">장바구니</div>
          </a>
        </div>
        <div class="main-box"></div>
      </div>
      <div class="main-footer"></div>
    </div>
  </body>
</html>
