<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HairNada</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/store/productList.css}" />
    <link rel="stylesheet" th:href="@{/css/index/header.css}" />
    <link rel="stylesheet" th:href="@{/css/index/footer.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
  <header class="header" th:replace="fragment/header :: header"></header>
    <div class="container">

      <!-- 배너 -->
      <div class="banner">
        <img src="/img/tab-banner-03.png" alt="배너">
      </div>

      <!-- 카테고리 -->
      <div class="product-category">
        <table class="category" th:with="cnt = ${categoryCnt}">
          <tr>
            <td>
              <button value="" class="category-btn selected">전체 <span>(521)</span></button>
            </td>
            <td>
              <button value="1" class="category-btn">트리트먼트/팩 (<span th:text="${cnt[0].categoryCnt}"></span>)</button>
            </td>
            <td>
              <button value="2" class="category-btn">헤어에센스 (<span th:text="${cnt[1].categoryCnt}"></span>)</button>
            </td>
            <td>
              <button value="3" class="category-btn">염색약/펌 (<span th:text="${cnt[2].categoryCnt}"></span>)</button>
            </td>
            <td>
              <button value="4" class="category-btn">헤어기기 (<span th:text="${cnt[3].categoryCnt}"></span>)</button>
            </td>
            <td>
              <button value="5" class="category-btn">스타일링 (<span th:text="${cnt[4].categoryCnt}"></span>)</button>
            </td>
            <td>
              <button value="6" class="category-btn">샴푸/린스 (<span th:text="${cnt[5].categoryCnt}"></span>)</button>
            </td>
          </tr>
        </table>

        <div class="dropdown">
          <div class="dropdown-btn">
            인기순
            <span class="material-symbols-rounded">
              expand_more
            </span>
          </div>
          <ul class="dropdown-menu">
            <li data-sort-type="popularity" class="btn-drop">인기순</li>
            <li data-sort-type="high_price" class="btn-drop">가격 높은 순</li>
            <li data-sort-type="low_price" class="btn-drop">가격 낮은 순</li>
          </ul>
        </div>

      </div>
      </div>

      <article class="holder">
        <div class="communityList cL" id="productList">
          <ul class="ListUl" >
            <!-- 첫번째 -->
            <li class="ListLi" th:each="store : ${productList}">
              <div class="store-category-number" th:text="${store.storeCategoryNumber}" style="display: none;"></div>
              <a th:href="@{/store/productRead(storeNumber=${store.storeNumber})}">
                <div class="img-list">
                  <div class="main-img">
                    <img th:unless="${store.storeFileName == null}" th:src="${'/upload/' + store.storeFileUploadPath + '/th_' + store.storeFileUuid + '_' + store.storeFileName }" alt="">
                  </div>
                </div>
              </a>
              <div class="titleAndBnt">
                <p class="product-title" th:text="${store.storeTitle}"></p>
                <div class="profile">
                  <button id="basketButton" type="button" class="basket">
                    구매
                  </button>
                  <div class="buttons">
                    <button type="button" class="like" th:value="${store.storeNumber}"
                            th:classappend="${store.likeCnt == 1 ? 'active' : ''}"
                            th:style="${store.likeCnt == 1 ? 'background-image:url(/img/heart2.png)' : ''}">하트</button>
                  </div>
                </div>
              </div>
              <div class="productInformation">
                <p class="productCate" th:text="${store.storeCategoryName}"></p>
                <p class="productPrice">₩ <span class="price" th:text="${store.storePrice}"></span></p>
              </div>
            </li>
          </ul>
        </div>

        <!-- 페이징 처리 -->
        <div class="pagination">
          <ul>
            <a th:href="@{/store/productList(page=${pageInfo.startPage - 1})}" class="prev" th:if="${pageInfo.prev}">
              <li>&laquo;</li>
            </a>

            <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
              <a th:href="@{/store/productList(page=${i})}" >
                <li class="active" th:text="${i}" th:if="${i == pageInfo.criteria.page}"></li>
                <li th:text="${i}" th:unless="${i == pageInfo.criteria.page}"></li>
              </a>
            </th:block>
            <a th:href="@{/store/productList(page=${pageInfo.endPage + 1})}" class="next" th:if="${pageInfo.next}">
              <li>&raquo;</li>
            </a>
          </ul>
        </div>
      </article>
    </div>
  <footer class="footer" th:replace="fragment/footer :: footer"></footer>

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
  <script th:src="@{/js/index/header.js}"></script>
    <script src="/js/product/productList.js"></script>
  </body>
</html>
