<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/store/purchase.css}">
    <link rel="stylesheet" th:href="@{/css/index/header.css}">
    <link rel="stylesheet" th:href="@{/css/index/footer.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>HairNada</title>
</head>
<body>
<header class="header" th:replace="fragment/header :: header"></header>
    <div class="main">

        <!-- 배너 -->
        <div class="banner">
            <img src="/img/tab-banner-07.png" alt="배너">
        </div>

        <div class="address-info">
            <h2>배송지 정보</h2>
            <div class="info-content">
                <div class="title">배송지 선택</div>
                <div class="content">
                    <input name="address" id="basic" type="radio" checked th:checked="${true}">
                    <label for="basic">기본주소</label>
                    <input name="address" id="new" type="radio" th:checked="${false}">
                    <label for="new">새로입력</label>
                </div>
            </div>

            <div class="info-content">
                <div class="title">받으시는 분</div>
                <div class="content">
                    <input id="userName" type="text" th:value="${true ? user.userName : ''}">
                </div>
            </div>
            <div class="info-content">
                <div class="title">휴대폰 번호</div>
                <div class="content">
                    <input id="userPhoneNumber" type="text" th:value="${true ? user.userPhoneNumber : ''}">
                </div>
            </div>
            <div class="info-content">
                <div class="title">
                    배송 주소
                </div>
                <div class="content">
                    <input type="text" id="sample6_postcode" placeholder="우편번호" th:value="${true ? user.userPostCode : ''}">
                    <button type="button" onclick="sample6_execDaumPostcode()">우편번호 찾기</button><br>
                    <input type="text" id="sample6_address" placeholder="주소" th:value="${true ? user.userAddress : ''}"><br>
                    <input type="text" id="sample6_detailAddress" placeholder="상세주소" th:value="${true ? user.userAddressDetail : ''}">
                    <input type="text" id="sample6_extraAddress" placeholder="참고항목" th:value="${true ? user.userReference : ''}">
                </div>
            </div>
            <div class="info-content">
                <div class="title">배송 요청사항</div>
                <div class="content">
                    <div class="dropdown">
                        <button class="dropbtn">
                            &nbsp;요청사항 선택
                            <span class="material-symbols-rounded">
                                expand_more
                            </span>
                        </button>
                        <div class="dropdown-content">
                            <ul>
                                <li class="li-write">직접 입력</li>
                                <li>빠른 배송 부탁드립니다.</li>
                                <li>배송 전, 연락주세요.</li>
                                <li>부재 시, 휴대폰으로 연락주세요.</li>
                                <li>부재 시, 경비실에 맡겨주세요.</li>
                                <li>경비실이 없습니다. 배송 전, 연락주세요.</li>
                                <li class="li-none">선택 안함</li>
                            </ul>
                        </div>
                    </div>
                    <input type="text" placeholder="요청사항을 입력해주세요." class="require-input">
                </div>
            </div>
        </div>

        <div class="product">
            <h2>주문상품</h2>
            <table class="product-tbl">
                <thead>
                    <tr>
                        <th>상품정보</th>
                        <th>수량</th>
                        <th>가격</th>
                        <th>총 상품 금액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="https://image.oliveyoung.co.kr/uploads/images/goods/550/10/0000/0014/A00000014950114ko.jpg?l=ko" alt="상품">
                            <p class="test-product">라보에이치 탈모증상완화 샴푸인데 본문이 길 경우에 어떻게 나오는지 궁금해서 이름을 길게 해보겠습니다 꺄아아앙아아아ㅏㅏㅇ아아악</p>
                        </td>
                        <td class="test-count">1</td>
                        <td class="test-price">26000</td>
                        <td class="test-result">26000</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="plus-text">*제주/도서산간 지역의 경우 추가 배송비가 발생할 수 있습니다.</p>
        
        <div class="price">
            <h3>최종결제금액</h3>
            <div class="price-content">
                <div class="price-title">총 상품 금액</div>
                <div class="price-text"><span class="price-number">26000</span>원</div>
            </div>
            <div class="price-content">
                <div class="price-title">배송비</div>
                <div class="price-text">+ <span class="delivery-number">0</span>원</div>
            </div>
            <div class="price-content">
                <div class="price-title">할인</div>
                <div class="price-text">- <span class="discount-number">0</span>원</div>
            </div>
            <div class="price-content">
                <div class="price-title">최종결제금액</div>
                <div class="final-price-text"><span class="final-price-number">26000</span>원</div>
            </div>
        </div>

        <div class="purchase-btn">
            <a href="#">결제하기</a>
        </div>
    </div>
<footer class="footer" th:replace="fragment/footer :: footer"></footer>

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var userName = /*[[${true ? user.userName : ''}]]*/ '';
    var userPhoneNumber = /*[[${true ? user.userPhoneNumber : ''}]]*/ '';
    var userPostCode = /*[[${true ? user.userPostCode : ''}]]*/ '';
    var userAddress = /*[[${true ? user.userAddress : ''}]]*/ '';
    var userAddressDetail = /*[[${true ? user.userAddressDetail : ''}]]*/ '';
    var userReference = /*[[${true ? user.userReference : ''}]]*/ '';

    // 라디오 버튼의 변경 이벤트 리스너 등록
    $('input[type="radio"]').change(function() {
        if ($(this).attr('id') === 'new') {
            // 선택된 라디오 버튼이 두 번째 라디오 버튼인 경우 필드들의 값을 공백으로 설정
            $('#userName').val('');
            $('#userPhoneNumber').val('');
            $('#sample6_postcode').val('');
            $('#sample6_address').val('');
            $('#sample6_detailAddress').val('');
            $('#sample6_extraAddress').val('');
            // 나머지 필드들에 대해서도 동일하게 처리 (필요한 경우 추가 작성)
        } else {
            // 선택된 라디오 버튼이 첫 번째 라디오 버튼인 경우 필드들의 값을 기존 값으로 설정
            $('#userName').val(userName);
            $('#userPhoneNumber').val(userPhoneNumber);
            $('#sample6_postcode').val(userPostCode);
            $('#sample6_address').val(userAddress);
            $('#sample6_detailAddress').val(userAddressDetail);
            $('#sample6_extraAddress').val(userReference);
            // 나머지 필드들에 대해서도 동일하게 처리 (필요한 경우 추가 작성)
        }
    });
    /*]]>*/
</script>
    <script th:src="@{/js/index/header.js}"></script>
    <script th:src="@{/js/product/purchase.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>