<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hairnada.mapper.hairshop.HairShopMapper">

    <!--    헤어샵 리스트 -->
    <select id="selectAll" resultType="hairShopVo">
        SELECT HAIR_SHOP_NUMBER, HAIR_SHOP_NAME, HAIR_SHOP_ADDRESS,
        HAIR_SHOP_FILE_UPLOAD_PATH, HAIR_SHOP_FILE_UUID, HAIR_SHOP_FILE_NAME,
        USER_NUMBER, MEMBERSHIP_NUMBER
        FROM (
        SELECT ROWNUM AS RNUM, HAIR_SHOP_NUMBER, HAIR_SHOP_NAME,
        HAIR_SHOP_ADDRESS, HAIR_SHOP_FILE_UPLOAD_PATH, HAIR_SHOP_FILE_UUID,
        HAIR_SHOP_FILE_NAME, USER_NUMBER, MEMBERSHIP_NUMBER
        FROM (
        SELECT H.HAIR_SHOP_NUMBER, HAIR_SHOP_NAME, HAIR_SHOP_ADDRESS,
        HAIR_SHOP_FILE_UPLOAD_PATH, HAIR_SHOP_FILE_UUID, HAIR_SHOP_FILE_NAME,
        U.USER_NUMBER, MEMBERSHIP_NUMBER
        FROM TBL_USER U JOIN TBL_HAIR_SHOP H
        ON U.USER_NUMBER = H.USER_NUMBER
        LEFT JOIN(
        SELECT HAIR_SHOP_FILE_NUMBER, HAIR_SHOP_FILE_UPLOAD_PATH,
        HAIR_SHOP_FILE_UUID, HAIR_SHOP_FILE_NAME, HAIR_SHOP_NUMBER
        FROM(
        SELECT HAIR_SHOP_FILE_NUMBER, HAIR_SHOP_FILE_UPLOAD_PATH,
        HAIR_SHOP_FILE_UUID, HAIR_SHOP_FILE_NAME, HAIR_SHOP_NUMBER,
        RANK() OVER(PARTITION BY HAIR_SHOP_NUMBER ORDER BY HAIR_SHOP_FILE_NUMBER) RK
        FROM TBL_HAIR_SHOP_FILE
        )
        WHERE RK = 1
        ) J ON H.HAIR_SHOP_NUMBER = J.HAIR_SHOP_NUMBER
        ORDER BY H.HAIR_SHOP_NUMBER DESC
        ) T1
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{amount}
        ]]>
        ) T2 WHERE RNUM > (#{page} - 1) * #{amount}
    </select>

    <!--    헤어샵 리스트 전체 개수 -->
    <select id="selectTotal" resultType="_int">
        SELECT COUNT(HAIR_SHOP_NUMBER)
        FROM TBL_HAIR_SHOP
    </select>

    <!--    헤어샵 선택 -->
    <select id="select" resultType="hairShopVo">
        SELECT HAIR_SHOP_NUMBER, HAIR_SHOP_ADDRESS, HAIR_SHOP_PHONE_NUMBER, HAIR_SHOP_OPEN_TIME,
        HAIR_SHOP_NAME, HAIR_SHOP_LINK, HAIR_SHOP_CONTENT, H.USER_NUMBER
        FROM TBL_HAIR_SHOP H JOIN TBL_USER U
        ON H.HAIR_SHOP_NUMBER = #{hairShopNumber} AND H.USER_NUMBER = U.USER_NUMBER
    </select>

</mapper>