<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hairnada.mapper.user.MyLikeMapper">
    
    <select id="likeCommunity">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_VIEW_CNT, BOARD_CONTENT,
        USER_NUMBER, USER_NICKNAME,
        BOARD_FILE_UPLOAD_PATH, BOARD_FILE_UUID, BOARD_FILE_NAME,
        USER_FILE_UPLOAD_PATH, USER_FILE_UUID, USER_FILE_NAME
        FROM(
        SELECT ROWNUM AS RNUM, BOARD_NUMBER, BOARD_TITLE, BOARD_VIEW_CNT, BOARD_CONTENT,
        USER_NUMBER, USER_NICKNAME,
        BOARD_FILE_UPLOAD_PATH, BOARD_FILE_UUID, BOARD_FILE_NAME,
        USER_FILE_UPLOAD_PATH, USER_FILE_UUID, USER_FILE_NAME
        FROM(
        SELECT B.BOARD_NUMBER, BOARD_TITLE, BOARD_VIEW_CNT, BOARD_CONTENT,
        B.USER_NUMBER, USER_NICKNAME,
        J.BOARD_FILE_UPLOAD_PATH, J.BOARD_FILE_UUID, J.BOARD_FILE_NAME,
        UF.USER_FILE_UPLOAD_PATH, UF.USER_FILE_UUID, UF.USER_FILE_NAME
        FROM TBL_USER U JOIN TBL_BOARD B
        ON U.USER_NUMBER = B.USER_NUMBER
        LEFT JOIN (
        SELECT BOARD_FILE_NUMBER, BOARD_FILE_UPLOAD_PATH, BOARD_FILE_UUID, BOARD_FILE_NAME, BOARD_NUMBER
        FROM(
        SELECT BOARD_FILE_NUMBER, BOARD_FILE_UPLOAD_PATH, BOARD_FILE_UUID, BOARD_FILE_NAME, BOARD_NUMBER,
        RANK() OVER(PARTITION BY BOARD_NUMBER ORDER BY BOARD_FILE_NUMBER) RK
        FROM TBL_BOARD_FILE
        )
        WHERE RK = 1
        ) J ON B.BOARD_NUMBER = J.BOARD_NUMBER
        LEFT JOIN TBL_USER_FILE UF ON U.USER_NUMBER = UF.USER_NUMBER
        JOIN TBL_BOARD_LIKE BL ON BL.USER_NUMBER = #{userNumber} AND B.BOARD_NUMBER = BL.BOARD_NUMBER
        ORDER BY B.BOARD_NUMBER DESC
        ) S1
        <![CDATA[
        WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ]]>
        ) S2
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(BOARD_NUMBER) FROM TBL_BOARD_LIKE
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <select id="likeHair">
        SELECT HAIR_NUMBER, HAIR_NAME, HAIR_CONTENT,
        HAIR_FILE_UPLOAD_PATH, HAIR_FILE_UUID, USER_NUMBER
        FROM (
        SELECT ROWNUM AS RNUM,
        HAIR_NUMBER,
        HAIR_NAME,
        HAIR_CONTENT,
        HAIR_FILE_UPLOAD_PATH,
        HAIR_FILE_UUID,
        USER_NUMBER
        FROM (
        SELECT TH.HAIR_NUMBER,
        TH.HAIR_NAME,
        TH.HAIR_CONTENT,
        THF.HAIR_FILE_UPLOAD_PATH,
        THF.HAIR_FILE_UUID,
        THL.USER_NUMBER
        FROM TBL_HAIR TH
        JOIN TBL_HAIR_LIKE THL
        ON THL.USER_NUMBER = #{userNumber} AND TH.HAIR_NUMBER = THL.HAIR_NUMBER
        LEFT JOIN (
        SELECT HAIR_FILE_NUMBER, HAIR_FILE_NAME, HAIR_FILE_UPLOAD_PATH, HAIR_FILE_UUID, HAIR_NUMBER
        FROM (
        SELECT HAIR_FILE_NUMBER,
        HAIR_FILE_NAME,
        HAIR_FILE_UPLOAD_PATH,
        HAIR_FILE_UUID,
        HAIR_NUMBER,
        RANK() OVER(PARTITION BY HAIR_NUMBER ORDER BY HAIR_FILE_NUMBER) RK
        FROM TBL_HAIR_FILE
        )
        WHERE RK = 1
        ) THF ON TH.HAIR_NUMBER = THF.HAIR_NUMBER
        ) S1
        <![CDATA[
        WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ]]>
        ) S2
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <select id="getTotal2" resultType="int">
        SELECT COUNT(HAIR_NUMBER) FROM TBL_HAIR_LIKE
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <select id="likeHairShop">
        SELECT HAIR_SHOP_NUMBER, HAIR_SHOP_ADDRESS,
        HAIR_SHOP_NAME, HAIR_SHOP_CONTENT,
        HAIR_SHOP_FILE_UPLOAD_PATH, HAIR_SHOP_FILE_UUID, USER_NUMBER
        FROM (
        SELECT ROWNUM AS RNUM, HAIR_SHOP_NUMBER, HAIR_SHOP_ADDRESS,
        HAIR_SHOP_NAME, HAIR_SHOP_CONTENT,
        HAIR_SHOP_FILE_UPLOAD_PATH, HAIR_SHOP_FILE_UUID, USER_NUMBER
        FROM (
        SELECT THS.HAIR_SHOP_NUMBER, THS.HAIR_SHOP_ADDRESS,
        THS.HAIR_SHOP_NAME, THS.HAIR_SHOP_CONTENT,
        THSF.HAIR_SHOP_FILE_UPLOAD_PATH, THSF.HAIR_SHOP_FILE_UUID, THSL.USER_NUMBER
        FROM TBL_HAIR_SHOP THS
        JOIN TBL_HAIR_SHOP_LIKE THSL
        ON THSL.USER_NUMBER = 40 AND THS.HAIR_SHOP_NUMBER = THSL.HAIR_SHOP_NUMBER
        LEFT JOIN (
        SELECT HAIR_SHOP_FILE_NUMBER, HAIR_SHOP_FILE_NAME, HAIR_SHOP_FILE_UPLOAD_PATH, HAIR_SHOP_FILE_UUID, HAIR_SHOP_NUMBER
        FROM (
        SELECT HAIR_SHOP_FILE_NUMBER,
        HAIR_SHOP_FILE_NAME,
        HAIR_SHOP_FILE_UPLOAD_PATH,
        HAIR_SHOP_FILE_UUID,
        HAIR_SHOP_NUMBER,
        RANK() OVER(PARTITION BY HAIR_SHOP_NUMBER ORDER BY HAIR_SHOP_FILE_NUMBER) RK
        FROM TBL_HAIR_SHOP_FILE
        )
        WHERE RK = 1
        ) THSF ON THS.HAIR_SHOP_NUMBER = THSF.HAIR_SHOP_NUMBER
        )S1
        <![CDATA[
        WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ]]>
        ) S2
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <select id="getTotal3" resultType="int">
        SELECT COUNT(HAIR_SHOP_NUMBER) FROM TBL_HAIR_SHOP_LIKE
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <select id="likeStore">
        SELECT STORE_TITLE, STORE_PRICE, STORE_NUMBER,
        STORE_FILE_UPLOAD_PATH, STORE_FILE_UUID,
        STORE_CATEGORY_NAME, USER_NUMBER ,STORE_CATEGORY_NUMBER
        FROM (
        SELECT ROWNUM AS RNUM, STORE_TITLE, STORE_PRICE,
        STORE_FILE_UPLOAD_PATH, STORE_FILE_UUID, STORE_NUMBER,
        STORE_CATEGORY_NAME, USER_NUMBER , STORE_CATEGORY_NUMBER
        FROM (
        SELECT TS.STORE_TITLE, TS.STORE_PRICE, TS.STORE_NUMBER,
        TSF.STORE_FILE_UPLOAD_PATH, TSF.STORE_FILE_UUID,
        TSC.STORE_CATEGORY_NAME, TSL.USER_NUMBER , TSC.STORE_CATEGORY_NUMBER
        FROM TBL_STORE TS
        JOIN TBL_STORE_LIKE TSL
        ON TSL.USER_NUMBER = #{userNumber} AND TS.STORE_NUMBER = TSL.STORE_NUMBER
        JOIN TBL_STORE_CATEGORY TSC
        ON TSC.STORE_CATEGORY_NUMBER = TS.STORE_CATEGORY_NUMBER
        LEFT JOIN (
        SELECT STORE_FILE_NUMBER, STORE_FILE_NAME, STORE_FILE_UPLOAD_PATH, STORE_FILE_UUID, STORE_NUMBER
        FROM (
        SELECT STORE_FILE_NUMBER, STORE_FILE_NAME, STORE_FILE_UPLOAD_PATH, STORE_FILE_UUID, STORE_NUMBER,
        RANK() OVER(PARTITION BY STORE_NUMBER ORDER BY STORE_FILE_NUMBER) RK
        FROM TBL_STORE_FILE
        )
        WHERE RK = 1
        ) TSF ON TSF.STORE_NUMBER = TS.STORE_NUMBER
        ) S1
        <![CDATA[
        WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
        ]]>
        ) S2
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}
    </select>

    <select id="getTotal4" resultType="int">
        SELECT COUNT(STORE_NUMBER) FROM TBL_STORE_LIKE
        WHERE USER_NUMBER = #{userNumber}
    </select>

</mapper>