<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hairnada.mapper.user.MyPageMapper">

    <select id="myBoard" resultType="boardVo">
        SELECT BOARD_NUMBER, BOARD_TITLE, BOARD_VIEW_CNT, BOARD_CONTENT,
        USER_NUMBER, USER_NICKNAME,
        BOARD_FILE_UPLOAD_PATH, BOARD_FILE_UUID, BOARD_FILE_NAME,
        USER_FILE_UPLOAD_PATH, USER_FILE_UUID, USER_FILE_NAME,
        (SELECT COUNT(BOARD_REPLY_NUMBER) FROM TBL_BOARD_REPLY BR WHERE S2.BOARD_NUMBER = BR.BOARD_NUMBER) REPLY_CNT
        FROM(
            SELECT ROWNUM AS RNUM, BOARD_NUMBER, BOARD_TITLE, BOARD_VIEW_CNT, BOARD_CONTENT,
            USER_NUMBER, USER_NICKNAME,
            BOARD_FILE_UPLOAD_PATH, BOARD_FILE_UUID, BOARD_FILE_NAME,
            USER_FILE_UPLOAD_PATH, USER_FILE_UUID, USER_FILE_NAME
            FROM(
                SELECT B.BOARD_NUMBER, BOARD_TITLE, BOARD_VIEW_CNT, BOARD_CONTENT,
                B.USER_NUMBER, USER_NICKNAME,
                J.BOARD_FILE_UPLOAD_PATH, J.BOARD_FILE_UUID, J.BOARD_FILE_NAME,
                UF.USER_FILE_UPLOAD_PATH, UF.USER_FILE_UUID, UF.USER_FILE_NAME
                FROM TBL_USER U JOIN TBL_BOARD B
                ON U.USER_NUMBER = B.USER_NUMBER
                LEFT JOIN (
                    SELECT BOARD_FILE_NUMBER, BOARD_FILE_UPLOAD_PATH, BOARD_FILE_UUID, BOARD_FILE_NAME, BOARD_NUMBER
                    FROM(
                        SELECT BOARD_FILE_NUMBER, BOARD_FILE_UPLOAD_PATH, BOARD_FILE_UUID, BOARD_FILE_NAME, BOARD_NUMBER,
                        RANK() OVER(PARTITION BY BOARD_NUMBER ORDER BY BOARD_FILE_NUMBER) RK
                        FROM TBL_BOARD_FILE
                    )
                WHERE RK = 1
                ) J ON B.BOARD_NUMBER = J.BOARD_NUMBER
                LEFT JOIN TBL_USER_FILE UF ON U.USER_NUMBER = UF.USER_NUMBER
                    WHERE B.USER_NUMBER = #{userNumber}
                ORDER BY B.BOARD_NUMBER DESC
            ) S1
             <![CDATA[
            WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
            ]]>
        ) S2
        WHERE RNUM > (#{criteria.page} - 1) * #{criteria.amount}

    </select>

    <select id="selectTotal" resultType="_int">
        SELECT COUNT(BOARD_NUMBER) FROM TBL_BOARD
        WHERE USER_NUMBER = #{userNumber}
    </select>





</mapper>