<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hairnada.mapper.user.UserMapper">
    <insert id="join">
        <selectKey keyProperty="userNumber" order="BEFORE" resultType="long">
            SELECT SEQ_USER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_USER (USER_NUMBER, USER_ID, USER_PASSWORD, USER_PHONE_NUMBER, USER_ADDRESS, USER_ADDRESS_DETAIL,
                               USER_NICKNAME, USER_GENDER, USER_NAME, USER_EMAIL)
        VALUES (#{userNumber}, #{userId}, #{userPassword}, #{userPhoneNumber}, #{userAddress}, #{userAddressDetail},
                 #{userNickname}, #{userGender}, #{userName}, #{userEmail})
    </insert>

    <select id="selectUserNumber" resultType="long">
        SELECT USER_NUMBER FROM TBL_USER
        WHERE USER_ID = #{userId} AND USER_PASSWORD = #{userPassword}
    </select>

    <select id="findUserIdPassword" resultType="UserDto">
        SELECT USER_ID, USER_PASSWORD
        FROM TBL_USER
        WHERE USER_NAME = #{userName} AND USER_EMAIL = #{userEmail}
    </select>

    <select id="checkId" resultType="int">
        SELECT COUNT(*) FROM TBL_USER
        WHERE USER_ID = #{userID}
    </select>

</mapper>