.main-box {
  /* background-color: rgb(255, 233, 204); */
  /* margin-top: 96px;
  margin-left: 280px; */
  width: 1050px;
  height: 1000px;
}

.main-box > h1 {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-bottom: 50px;
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

.select-nav {
  margin-left: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  position: relative;
  margin-top: 10px;
}

.filter {
  width: 40%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter > select {
  height: 30px;
  font-size: 18px;
  outline: none;
  border: none;
}

.select-title {
  width: 200px;
  padding-left: 20px;
  height: 28px;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #969696;
}

.search {
  border-radius: 4px;
  width: 70px;
  height: 30px;
  background-color: black;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.select-by-title {
  position: absolute;
  right: 0;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

/* 제품 리스트 */
.hair-list-container {
  margin: 100px 20px;
}

.holder {
  position: relative;
  margin: 0 auto;
  max-width: 1300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.list-ul {
  display: flex;
  gap: 25px;
  position: relative;
  left: 0;
}

.hl {
  display: flex;
  flex-wrap: wrap;
  column-gap: calc(35px/3);
  row-gap: 30px;
}

.list-li {
  display: inline-block;
  position: relative;
  width: 240px;
}

.hl a {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* 사진 hover 수정 */
.hl a:hover {
  text-decoration: underline;
}

.hair-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hair-title {
  margin: 0;
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.img-list {
  position: relative;
  overflow: hidden;
  width: 240px;
  overflow: hidden;
}

.img-list img{
  width: 100%; min-height: 240px;height: 350px;
}

/* 페이징 */
.page-container{
  height: 200px;
}
.page-a {
  text-decoration: none;
  color: #222;
  display: flex;
}

.page-box {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-num {
  width: 30px;
  height: 40px;
  /* border-radius: 5px; */
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  /* background-color: white; */
  cursor: pointer;
}

.active,
.page-num:hover {
  color: #969696;
}
