<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hairnada.mapper.admin.AdminMapper">

 <select id="selectUserList" resultType="userDto">
  SELECT USER_NUMBER , USER_NAME,USER_ID, USER_NICKNAME, tm.MEMBERSHIP_NAME , USER_STATUS FROM TBL_USER tu
  JOIN TBL_MEMBERSHIP tm  ON tm.MEMBERSHIP_NUMBER  = tu.MEMBERSHIP_NUMBER
  ORDER BY USER_NUMBER DESC
 </select>
 
 <select id="selectLevelList" resultType="levelVo">
  SELECT LEVEL_NUMBER , LEVEL_TITLE , tu.USER_NUMBER , tu.USER_NAME, tu.USER_ID , tm.MEMBERSHIP_NAME FROM TBL_LEVEL tl
  JOIN TBL_USER tu
  ON tu.USER_NUMBER  = tl.USER_NUMBER
  JOIN TBL_MEMBERSHIP tm
  ON tm.MEMBERSHIP_NUMBER  = tu.MEMBERSHIP_NUMBER
  ORDER BY LEVEL_NUMBER DESC
 </select>

</mapper>