<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hairnada.mapper.admin.AdminMapper">
 <!-- 회원 정보 전체 조회 -->
 <select id="selectUserList" resultType="userDto">
  SELECT
   USER_NUMBER,
   USER_NAME,
   USER_ID,
   USER_NICKNAME,
   MEMBERSHIP_NAME,
   USER_STATUS
  FROM
   (
    SELECT
     RN,
     USER_NUMBER,
     USER_NAME,
     USER_ID,
     USER_NICKNAME,
     MEMBERSHIP_NAME,
     USER_STATUS
    FROM
     (
      SELECT
       ROWNUM AS RN,
       USER_NUMBER,
       USER_NAME,
       USER_ID,
       USER_NICKNAME,
       MEMBERSHIP_NAME,
       USER_STATUS
      FROM
       (
        SELECT
         USER_NUMBER,
         USER_NAME,
         USER_ID,
         USER_NICKNAME,
         tm.MEMBERSHIP_NAME,
         USER_STATUS
        FROM
         TBL_USER tu
          JOIN TBL_MEMBERSHIP tm ON
          tm.MEMBERSHIP_NUMBER = tu.MEMBERSHIP_NUMBER
        WHERE
         USER_NUMBER >= 1
        ORDER BY
         USER_NUMBER DESC
       )
     )
    <![CDATA[
    WHERE
     ROWNUM <= #{page} * #{amount}
             ]]>
        )
  WHERE
   RN > (#{page} - 1 ) * #{amount}
 </select>

 <!-- 회원 수 -->
 <select id="userTotal" resultType="_int">
  SELECT count(user_number) FROM tbl_user
 </select>

 <!-- 등업 신청 목록 조회 -->
 <select id="selectLevelList" resultType="levelVo">
  SELECT
   RNUM,
   LEVEL_NUMBER ,
   LEVEL_TITLE ,
   USER_NUMBER ,
   USER_NAME,
   USER_ID ,
   MEMBERSHIP_NAME
  FROM
   (
    SELECT
     ROWNUM AS RNUM,
     LEVEL_NUMBER ,
     LEVEL_TITLE ,
     USER_NUMBER ,
     USER_NAME,
     USER_ID ,
     MEMBERSHIP_NAME
    FROM
     (
      SELECT
       LEVEL_NUMBER ,
       LEVEL_TITLE ,
       tu.USER_NUMBER ,
       tu.USER_NAME,
       tu.USER_ID ,
       tm.MEMBERSHIP_NAME
      FROM
       TBL_LEVEL tl
        JOIN TBL_USER tu
             ON
              tu.USER_NUMBER = tl.USER_NUMBER
        JOIN TBL_MEMBERSHIP tm
             ON
              tm.MEMBERSHIP_NUMBER = tu.MEMBERSHIP_NUMBER
      ORDER BY
       LEVEL_NUMBER DESC
     )
  <![CDATA[
    WHERE
     ROWNUM <= #{page} * #{amount}
             ]]>
        )
  WHERE
   RNUM > (#{page} - 1 ) * #{amount}
 </select>

 <!-- 등업 게시글 읽어오기 -->
 <select id="levelBoardRead" resultType="levelVo">
  SELECT LEVEL_NUMBER , LEVEL_TITLE , LEVEL_CONTENT , LEVEL_REGISTER_DATE, tm.MEMBERSHIP_NUMBER, tm.MEMBERSHIP_NAME , tl.USER_NUMBER ,
         tu.USER_ID , tu.USER_NAME, tu.MEMBERSHIP_NUMBER AS USER_MEMBERSHIP_NUMBER FROM TBL_LEVEL tl
                                                                                         JOIN TBL_MEMBERSHIP tm
                                                                                              ON tm.MEMBERSHIP_NUMBER  = tl.MEMBERSHIP_NUMBER
                                                                                         JOIN TBL_USER tu
                                                                                              ON tu.USER_NUMBER  = tl.USER_NUMBER
  WHERE LEVEL_NUMBER  = #{levelNumber}
 </select>

 <!-- 등업 게시글 전체 수 -->
 <select id="levelTotal" resultType="_int">
  SELECT count(level_number) FROM tbl_level
 </select>

<!-- <!—- 등업 게시글 수락 -—>-->
 <update id="updateMembershipNumber">
  UPDATE TBL_USER
  SET MEMBERSHIP_NUMBER = #{membershipNumber}
  WHERE USER_NUMBER = #{userNumber}
 </update>

<!-- 상품 게시글 목록 조회 -->
 <select id="selectStoreList" resultType="storeDto">
    SELECT RNUM, STORE_NUMBER , STORE_TITLE , STORE_PRICE , STORE_CATEGORY_NUMBER, STORE_CATEGORY_NAME  FROM(
    SELECT ROWNUM AS RNUM, STORE_NUMBER , STORE_TITLE , STORE_PRICE , STORE_CATEGORY_NUMBER, STORE_CATEGORY_NAME  FROM(
    SELECT STORE_NUMBER , STORE_TITLE , STORE_PRICE , ts.STORE_CATEGORY_NUMBER, tsc.STORE_CATEGORY_NAME  FROM TBL_STORE ts
    JOIN TBL_STORE_CATEGORY tsc
    ON tsc.STORE_CATEGORY_NUMBER  = ts.STORE_CATEGORY_NUMBER)
    <![CDATA[
    WHERE
    ROWNUM <= #{page} * #{amount}
     ]]>)
    WHERE
    RNUM > (#{page} - 1 ) * #{amount}
 </select>

<!-- 스토어 게시글 수 -->
 <select id="storeTotal" resultType="_int">
  SELECT COUNT(STORE_NUMBER) FROM TBL_STORE
 </select>

<!-- 카테고리에 따른 스토어 게시글 목록 조회 -->
 <select id="selectStoreListByCategory" resultType="storeDto">
  SELECT STORE_NUMBER , STORE_TITLE , STORE_PRICE , ts.STORE_CATEGORY_NUMBER, tsc.STORE_CATEGORY_NAME  FROM TBL_STORE ts
  JOIN TBL_STORE_CATEGORY tsc
  ON tsc.STORE_CATEGORY_NUMBER  = ts.STORE_CATEGORY_NUMBER
  WHERE ts.STORE_CATEGORY_NUMBER = #{storeCategoryNumber}
 </select>

<!-- 제목에 따른 스토어 게시글 목록 조회 -->
 <select id="selectStoreListByTitle" resultType="storeDto">
  SELECT STORE_NUMBER , STORE_TITLE , STORE_PRICE , ts.STORE_CATEGORY_NUMBER, tsc.STORE_CATEGORY_NAME  FROM TBL_STORE ts
  JOIN TBL_STORE_CATEGORY tsc
  ON tsc.STORE_CATEGORY_NUMBER  = ts.STORE_CATEGORY_NUMBER
  WHERE ts.STORE_TITLE LIKE '%'||#{storeTitle}||'%'
 </select>

<!-- 헤어리스트 조회 -->
 <select id="selectHairList" resultType="hairVo">
  SELECT
   HAIR_NUMBER,
   HAIR_NAME,
   HAIR_FILE_NAME,
   HAIR_FILE_UUID,
   HAIR_FILE_UPLOAD_PATH
  FROM
   (
    SELECT
     ROWNUM AS RNUM ,
     HAIR_NUMBER,
     HAIR_NAME,
     HAIR_FILE_NAME,
     HAIR_FILE_UUID,
     HAIR_FILE_UPLOAD_PATH
    FROM
     (
      SELECT
       th.HAIR_NUMBER,
       HAIR_NAME,
       thf.HAIR_FILE_NAME,
       thf.HAIR_FILE_UUID,
       thf.HAIR_FILE_UPLOAD_PATH
      FROM
       TBL_HAIR th
        LEFT JOIN
       (
        SELECT
         HAIR_FILE_NUMBER ,
         HAIR_FILE_NAME ,
         HAIR_FILE_UPLOAD_PATH ,
         HAIR_FILE_UUID ,
         HAIR_NUMBER
        FROM
         (
          SELECT
           HAIR_FILE_NUMBER ,
           HAIR_FILE_NAME ,
           HAIR_FILE_UPLOAD_PATH ,
           HAIR_FILE_UUID ,
           HAIR_NUMBER,
           RANK() OVER(PARTITION BY HAIR_NUMBER ORDER BY HAIR_FILE_NUMBER) RK
          FROM
           TBL_HAIR_FILE)
        WHERE
         RK = 1) thf
       ON
        th.HAIR_NUMBER = thf.HAIR_NUMBER
      ORDER BY
       HAIR_NUMBER DESC)
<![CDATA[
    WHERE
     ROWNUM <= #{page} * #{amount}
             ]]>
        )
  WHERE
   RNUM > (#{page} - 1 ) * #{amount}
 </select>

<!-- 헤어 게시글 수 -->
 <select id="hairTotal" resultType="_int">
  SELECT COUNT(HAIR_NUMBER) FROM TBL_HAIR
 </select>

<!-- 카테고리 선택으로 헤어리스트 조회 -->
 <select id="selectHairListByCategory" resultType="hairDto">
  SELECT HAIR_NAME FROM TBL_HAIR th
  WHERE LENGTH_NUMBER = #{lengthNumber} AND SHAPE_NUMBER = #{shapeNumber} AND HAIR_GENDER = #{hairGender}
 </select>

<!-- 제목으로 헤어리스트 조회 -->
 <select id="selectHairListByName" resultType="hairDto">
  SELECT HAIR_NAME FROM TBL_HAIR
  WHERE HAIR_NAME LIKE '%'||#{hairName}||'%'
 </select>

<!-- 헤어 게시글 작성 -->
 <insert id="insertHair">
  <selectKey keyProperty="hairNumber" order="BEFORE" resultType="long">
   SELECT SEQ_HAIR.NEXTVAL FROM DUAL
  </selectKey>
  INSERT INTO TBL_HAIR (HAIR_NUMBER, HAIR_NAME, HAIR_CONTENT, HAIR_GENDER, SHAPE_NUMBER, LENGTH_NUMBER)
  VALUES (#{hairNumber}, #{hairName}, #{hairContent}, #{hairGender}, #{shapeNumber}, #{lengthNumber})
 </insert>

</mapper>