<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/hairshop/styleshopRead.css}">
    <link rel="stylesheet" th:href="@{/css/index/header.css}">
    <link rel="stylesheet" th:href="@{/css/index/footer.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>HairNada</title>
</head>
<body>
    <header class="header" th:replace="fragment/header :: header"></header>
    <div class="main">

        <!-- 배너 -->
        <div class="banner">
            <img src="/img/tab-banner-01.png" alt="배너">
        </div>

        <!-- 이미지 구간 -->
        <div class="img-box">
            <span class="material-symbols-rounded left">
                chevron_left
            </span>
            <div class="img-main">
                <ul class="img-main-box">
                    <li><img src="https://weare.lush.co.kr/images/shop/seoul/gangnam.jpg" alt="메인01"></li>
                    <li><img src="https://weare.lush.co.kr/images/shop/seoul/gyeonglidan_spa.JPG" alt="메인02"></li>
                    <li><img src="https://weare.lush.co.kr/images/shop/seoul/daehaglo.jpg" alt="메인03"></li>
                    <li><img src="https://weare.lush.co.kr/images/shop/seoul/lotte_mia.JPG" alt="메인04"></li>
                </ul>
            </div>
            <span class="material-symbols-rounded right">
                chevron_right
            </span>
        </div>
        <div class="img-sub">
            <ul>
                <li><img src="https://weare.lush.co.kr/images/shop/seoul/gangnam.jpg" alt="서브01"></li>
                <li><img src="https://weare.lush.co.kr/images/shop/seoul/gyeonglidan_spa.JPG" alt="서브02"></li>
                <li><img src="https://weare.lush.co.kr/images/shop/seoul/daehaglo.jpg" alt="서브03"></li>
                <li><img src="https://weare.lush.co.kr/images/shop/seoul/lotte_mia.JPG" alt="서브04"></li>
            </ul>
        </div>

        <!-- 장소 정보 -->
        <div class="place-info">
            <div class="place-name" th:text="${hairShop.hairShopName}"></div>
            <div class="place-text">
                <div class="title">운영시간</div>
                <div class="content" th:text="${hairShop.hairShopOpenTime}"></div>
            </div>
            <div class="place-text">
                <div class="title">전화번호</div>
                <div class="content" th:text="${hairShop.hairShopPhoneNumber}"></div>
            </div>
            <div class="place-text">
                <div class="title">주소</div>
                <div class="content address" th:text="${hairShop.hairShopAddress}"></div>
                <div class="box">
                    <div id="map" style="width:600px; height:400px;"></div>
                </div>
            </div>
            <div class="place-text">
                <div class="title">예약</div>
                <div class="content">
                    <a th:href="${hairShop.hairShopLink}" th:text="${hairShop.hairShopLink}"></a>
                </div>
            </div>
            <div class="place-text">
                <div class="title">소개</div>
                <div class="content" th:utext="${hairShop.hairShopContent}"></div>
            </div>
        </div>

        <div class="back">
            <div class="buttons">
                <th:block th:if="${session.userNumber == hairShop.userNumber}">
                    <div class="button-on">
                        <button type="button">수정</button>
                        <button type="button">삭제</button>
                    </div>
                </th:block>
                <a th:href="@{/hairshop/list}">목록</a>
            </div>
        </div>

    </div>
    <footer class="footer" th:replace="fragment/footer :: footer"></footer>

    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=472af9e8500af770e082498338f4b244&libraries=services"></script>
    <script th:src="@{/js/hairshop/styleshopRead.js}"></script>
    <script th:src="@{/js/index/header.js}"></script>
</body>
</html>