.main{
    width: 1300px;
    margin: 0 auto 100px;
    background-color: white;
    color: #222;
    font-size: 16px;
}

/* 검색 및 필터 */
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 70px;
}

input[type="radio"]:checked{
    accent-color: #222;
}

input[type="text"]{
    width: 250px; height: 35px;
    padding: 0 0 0 8px;
    outline: none;
    margin-left: 30px;
    border: 0.5px solid #222;
    font-size: 14px;
}

.search button{
    background-color: #222;
    color: white;
    width: 100px; height: 36.6px;
    border: none;
    margin-left: 4px;
    position: relative;
    bottom: -1.2px;
    font-size: 14px;
    cursor: pointer;
}

/* 콘텐츠 */
.style-content{
    margin: 120px 0;
    position: relative;
}

.holder{
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    overflow: hidden;
    display: flex;
}
  
.cL{
    display: flex;
}

.style-box{
    display: flex;
    row-gap: 50px;
    column-gap: 24.575px;
    flex-wrap: wrap;
}
  
.ListLi{
    width: 416.95px;
}
  
.img-list{
    position: relative;
    overflow: hidden;
    width: 416.95px;
    height: 250px;
}

.main-img {
    transition: transform 0.5s ease-in-out;
}
  
.main-img:hover{
    transform: scale(1.1);
}

.main-img img{
    min-width: 100%; min-height: 100%;
}
  
.titleAndBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.shop-title{
    font-size: 20px;
    color: #222;
    font-weight: 700;
}

.like{
    background-image: url("/img/heart1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    margin-left: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    line-height: 20px;
    color: transparent;
    cursor: pointer;
    border: none;
}
  
.address-box{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 20px;
}
  
.address-box span{
    height: 40px;
    font-size: 16px;
    color: #696969;
    font-weight: 400;
}

/* 페이징 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .pagination ul {
    display: flex;
    list-style: none;
  }
  
  .pagination a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
  }
  
  .pagination a:hover {
    text-decoration: underline;
  }
  
  .pagination .active {
    text-decoration: underline;
  }