<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <div class="main">
      <div class="error-msg">
        <h1>404 ERROR</h1>
        <span>죄송합니다. 페이지를 찾을 수 없습니다.</span>
        <span>존재하지 않는 주소를 입력하셨거나</span>
        <span>요청하신 페이지의 주소가 변경, 삭제되어 찾을 수 없습니다.</span>
        <!-- 메인페이지 이동 경로처리 -->
        <a>
          <button type="button" class="back-to-main">메인으로 이동하기</button>
        </a>
      </div>

      <img class="logo" src="/img/logo2.jpg" alt="" />
    </div>
  </body>
</html>
