<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hairnada.mapper.board.BoardReplyMapper">

    <insert id="insert">
        INSERT INTO TBL_BOARD_REPLY(BOARD_REPLY_NUMBER, BOARD_REPLY_CONTENT, BOARD_NUMBER, USER_NUMBER)
        VALUES (SEQ_BOARD_REPLY.NEXTVAL, #{boardReplyContent}, #{boardNumber}, #{userNumber})
    </insert>

    <select id="selectList" resultType="boardReplyDto">
        SELECT BOARD_REPLY_NUMBER, BOARD_REPLY_CONTENT, BOARD_REPLY_REGISTER_DATE, BOARD_REPLY_UPDATE_DATE, BOARD_NUMBER, U.USER_NUMBER,
               U.USER_NICKNAME
        FROM TBL_USER U JOIN TBL_BOARD_REPLY R
                             ON U.USER_NUMBER = R.USER_NUMBER
        WHERE BOARD_NUMBER = #{boardNumber}
        ORDER BY BOARD_REPLY_NUMBER DESC
    </select>

    <select id="select" resultType="boardReplyDto">
        SELECT BOARD_REPLY_NUMBER, BOARD_REPLY_CONTENT, BOARD_REPLY_REGISTER_DATE, BOARD_REPLY_UPDATE_DATE, BOARD_NUMBER, U.USER_NUMBER,
               U.USER_NICKNAME
        FROM TBL_USER U JOIN TBL_BOARD_REPLY R
                             ON BOARD_REPLY_NUMBER = #{boardReplyNumber} AND R.USER_NUMBER = U.USER_NUMBER
    </select>

    <update id="update">
        UPDATE TBL_BOARD_REPLY
        SET BOARD_REPLY_CONTENT = #{boardReplyContent} , BOARD_REPLY_UPDATE_DATE = SYSDATE
        WHERE BOARD_REPLY_NUMBER = #{boardReplyNumber}
    </update>

    <delete id="delete">
        DELETE FROM TBL_BOARD_REPLY
        WHERE BOARD_REPLY_NUMBER = #{boardReplyNumber}
    </delete>

    <select id="selectListPage" resultType="boardReplyDto">
        SELECT BOARD_REPLY_NUMBER, BOARD_REPLY_CONTENT, BOARD_REPLY_REGISTER_DATE, BOARD_REPLY_UPDATE_DATE, BOARD_NUMBER, USER_NUMBER,
               USER_NICKNAME
        FROM (
                 SELECT ROWNUM RN,
                        BOARD_REPLY_NUMBER, BOARD_REPLY_CONTENT, BOARD_REPLY_REGISTER_DATE, BOARD_REPLY_UPDATE_DATE, BOARD_NUMBER, USER_NUMBER,
                        USER_NICKNAME
                 FROM(
                         SELECT BOARD_REPLY_NUMBER, BOARD_REPLY_CONTENT, BOARD_REPLY_REGISTER_DATE, BOARD_REPLY_UPDATE_DATE, BOARD_NUMBER, U.USER_NUMBER,
                                U.USER_NICKNAME
                         FROM TBL_USER U JOIN TBL_BOARD_REPLY R
                                ON BOARD_NUMBER = #{boardNumber} AND U.USER_NUMBER = R.USER_NUMBER
                         ORDER BY BOARD_REPLY_NUMBER DESC
                     )
            <![CDATA[
                 WHERE ROWNUM <= #{criteria.page} * #{criteria.amount}
            ]]>
        )
        WHERE RN > ( #{criteria.page} - 1 ) * #{criteria.amount}
    </select>

    <select id="selectTotal" resultType="_int">
        SELECT COUNT(BOARD_REPLY_NUMBER)
        FROM TBL_BOARD_REPLY
        WHERE BOARD_NUMBER = #{boardNumber}
    </select>

</mapper>