<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>hairnadaTest</title>
  <style></style>
  <link rel="stylesheet" href="/css/hairnadatest/examplePage.css" />
  <link rel="stylesheet" href="/css/hairnadatest/recommendation.css" />
  <link rel="stylesheet" href="/css/hairnadatest/exampleResult.css" />
</head>
<body>
<!-- div요소 class명을 반드시 rec-box로 설정할 것 -->
<!-- 사이즈를 설정할 것 -->
<!-- rec-box 꼭 필요!!!!!! -->
<div
        class="rec-box"
        style="width: 550px; height: 745px; margin: 0 auto"
></div>
<!-- <iframe
  src="https://smore.im/quiz/DYQ17LpSF4"
  width="500px"
  height="500px"
></iframe> -->
<!-- jquery를 반드시 설정할 것 -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<!-- module 설정하고 js추가할 것 -->
<script type="module" src="/js/hairnadatest/examplePage.js"></script>
</body>
</html>
